<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="false"
    primaryTitle="Legend Select Assist"
    [position]="{ x: 0, y: 0 }"
    [positionAnchors]="{ x: 'right', y: 'top' }"
>
    <app-legend-stats [legendStats]="legendStats"></app-legend-stats>

    <app-legend-icons-board [legendIconRows]="legendIconRows" (onLegendIdHover)="focusLegend($event)"></app-legend-icons-board>

    <app-complimentary-legends [complimentaryLegendWeights]="complimentaryLegendWeights"></app-complimentary-legends>
</app-ui-container>
