@import "hud-styles";

:host {
    display: block;
}

.game-mode-header {
    font-size: 1.5vw;
    color: white;
    font-family: "Quantico", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4vw;
}

.more-matches-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 27.43vw;
    top: 71vh;
    height: 13.88vh;
    width: 55.55vw;
    color: white;
    font-family: "Quantico", sans-serif;
    text-transform: uppercase;

    .more-matches-title {
        font-size: 1.67vw;
        line-height: 1.67vw;
        text-align: center;
        margin: 1.75vh 0;

        small {
            font-size: 0.85vw;
        }
    }
}

.num-matches-bargraph-container {
    box-sizing: content-box;
    position: relative;
    align-self: center;
    text-align: center;
    transform: skewX(-30deg);
    width: 34.72vw;
    height: 3.472vh;
    border: 0.2vw solid white;

    .num-matches-digit {
        position: absolute;
        transform: skewX(30deg);
        margin: 0;
        line-height: 1.7vw;
        font-size: 1.7vw;
        right: -10vw;
        top: 1.115vh;
    }

    .num-matches-bar {
        position: absolute;
        background-color: white;
        height: 3.5vh;
        width: 0%;
        top: 0;
        left: 0;
    }
}
