<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="false"
    primaryTitle="Legend Select Assist"
    [position]="{ xPercent: 0, yPercent: 0, xAnchor: 'right', yAnchor: 'top' }"
    [size]="{ widthPercent: 0.5625, heightPercent: 1 }"
>
    <app-legend-stats
        [legendStats]="legendStats"
        *ngIf="isLegendStatsEnabled && (legendStats?.numMatches ?? 0) >= minLegendStatsMatches"
    ></app-legend-stats>

    <app-legend-select-icons-board
        *ngIf="isLegendStatsEnabled || isComplimentaryLegendsEnabled"
        [legendIconRows]="legendIconRows"
        (onLegendHover)="hoverLegend($event)"
    ></app-legend-select-icons-board>

    <app-legend-select-complimentary-legends
        [complimentaryLegendWeights]="complimentaryLegendWeights"
        [legendId]="focusedLegendId"
        *ngIf="isComplimentaryLegendsEnabled && (legendStats?.numMatches ?? 0) >= minShowComplimentaryLegendsMatches"
    ></app-legend-select-complimentary-legends>

    <div
        class="more-matches-container"
        *ngIf="isComplimentaryLegendsEnabled && focusedLegendId && (legendStats?.numMatches ?? 0) < minShowComplimentaryLegendsMatches"
    >
        <h2 class="more-matches-title">
            <small>to show suggestions</small>
            <br />
            Play Some Games <ng-container *ngIf="focusedLegendName">With {{ focusedLegendName }}</ng-container>
        </h2>

        <div class="num-matches-bargraph-container">
            <div
                class="num-matches-bar"
                [ngStyle]="{ 'width.%': ((legendStats?.numMatches ?? 0) / minShowComplimentaryLegendsMatches) * 100 }"
            ></div>
            <h4 class="num-matches-digit">{{ legendStats?.numMatches ?? 0 }} / {{ minShowComplimentaryLegendsMatches }}</h4>
        </div>
    </div>
</app-ui-container>
