<ng-container *ngIf="isLoadingReportedPlayerList">
    <div class="spinner-container text-center my-auto mx-auto">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!isLoadingReportedPlayerList && hasLoadingReportedPlayerListError">
    <div class="alert alert-danger w-75 mx-auto my-5" role="alert">There was a problem loading the reported players. Please try again.</div>
</ng-container>
<ng-container *ngIf="!isLoadingReportedPlayerList && !hasLoadingReportedPlayerListError">
    <div class="row" *ngFor="let reportedPlayer of reportedPlayerList; trackBy: reportedPlayerTrackBy">
        <div class="col-12">{{ reportedPlayer.inGameUsername }}</div>
    </div>
</ng-container>
