<div class="container pb-5">
    <div class="row my-5">
        <div class="col text-center">
            <h1 class="fade-in">Welcome to</h1>
            <img class="fade-zoom-in" src="../../../../../assets/images/allfather_border_logo_md.webp" alt="Allfather Logo" />
        </div>
    </div>

    <div class="row my-3 fade-in-delay">
        <div class="col-9">
            <span>Allfather is an advanced overlay and app for Apex Legends.</span>
            <ul>
                <li>
                    <strong>Tracking</strong>: Saves your in-game stats, compiles, and presents them in meaningful ways, helping you to
                    understand your playstyle better and improve strategies.
                </li>
                <li>
                    <strong>In-Game HUD</strong>: Monitors the killfeed, your inventory, your damage output, and your legend data to provide
                    you with insightful and helpful features.
                </li>
            </ul>
        </div>
        <div class="col-3">
            <a href="https://www.overwolf.com/app/MasterKriff-Allfather">
                <img class="w-100" src="../../../../../assets/images/overwolf_tile.jpg" alt="" />
            </a>
        </div>
    </div>

    <div class="row my-3 fade-in-delay">
        <div class="col">
            <h3>Getting Started</h3>
            <ol>
                <li>
                    <strong>Apex Legends</strong> (for PC) must be installed, either by
                    <a href="https://store.steampowered.com/app/1172470/Apex_Legends/">Steam</a> or
                    <a href="https://www.origin.com/store/apex/apex">Origin</a>.
                </li>
                <li><a href="https://overwolf.com">Overwolf</a> must be installed and running.</li>
                <li>
                    Always open <strong>Allfather</strong>&nbsp;<u>before</u> opening Apex Legends.<br />Your stats will only be tracked
                    while Allfather is running.
                </li>
            </ol>
        </div>
    </div>

    <div class="row my-3 fade-in-delay">
        <div class="col">
            <h3>Frequently Asked Questions</h3>

            <div class="accordion" id="faqAccordion">
                <!-- #region GameTOS -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headerGameTOS">
                        <a class="accordion-button collapsed" href data-bs-toggle="collapse" data-bs-target="#gameTOS">
                            Is using Allfather cheating? Will I get banned?
                        </a>
                    </h2>
                    <div class="accordion-collapse collapse" id="gameTOS" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>
                                A major concern of any player who uses a third-party app is whether or not it's allowed. The last thing a
                                player wants is to use something that can get them banned by Respawn, Twitch, or other streaming services.
                                Allfather for Apex Legends is 100% safe to use.
                            </p>
                            <p>
                                <strong>Here's why:</strong><br />
                                Any in-game application centers around the players' experience, and the goal is to improve a player's
                                in-game experience by giving the player some type of advantage. Otherwise, why would the player use the app
                                in the first place? The tricky thing is to find the thin line between having an advantage and cheating. With
                                the possibilities to track almost any in-game event, we've only selected to track those events that are
                                connected to YOUR current position, weapons, inventory, legends, and killfeed (which is visible in-game and
                                to all players via the killfeed).<br />
                                So how does Allfather benefit a player if the app only uses events that are already available to every
                                player?
                            </p>

                            <p>
                                Allfather takes all of the visible in-game killfeed events and your in-game data, and provides you with
                                insightful information based on that data.<br />
                                Is that cheating? If so, I suppose a human with a better memory than another human is also cheating.
                            </p>

                            <p>
                                Our app has nothing that shows any type of hidden or specific information about the current match. Nor does
                                it give an unfair advantage that could be considered cheating. Allfather is safe to use while streaming,
                                playing pubs, and ranked games.<br />
                                During development, we based our app on the <a href="https://overwolf.com">Overwolf platform</a>, which
                                provides useful events and has years of development experience for popular competitive games. Many of the
                                most famous game development studios like Valve, Blizzard, Riot, etc., allow the use of 3rd party apps.<br />
                                The Overwolf platform has very strict and concise guidelines and always avoids any app that may even hint at
                                cheating.<br />
                                You can learn more about this here:
                                <a href="https://medium.com/overwolf/how-overwolf-keeps-users-safe-from-bans-10f6a4657869"
                                    >https://medium.com/overwolf/how-overwolf-keeps-users-safe-from-bans-10f6a4657869</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
                <!-- #endregion GameTOS -->
                <!-- #region ReportIssue -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headerReportIssue">
                        <a class="accordion-button collapsed" href data-bs-toggle="collapse" data-bs-target="#reportIssue">
                            How can I report an issue?
                        </a>
                    </h2>
                    <div class="accordion-collapse collapse" id="reportIssue" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>
                                We very much welcome your feedback!<br />
                                Please visit our <a href="https://discord.com/invite/Hq98EfdcHP">Discord</a> to report any issues, concerns,
                                or feedback.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- #endregion ReportIssue -->
                <!-- #region GameModes -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headerGameModes">
                        <a class="accordion-button collapsed" href data-bs-toggle="collapse" data-bs-target="#GameModes">
                            What game modes are supported?
                        </a>
                    </h2>
                    <div class="accordion-collapse collapse" id="GameModes" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>
                                Allfather currently only supports Battle Royale game modes.<br />
                                This is due to <strong>Overwolf's</strong> lack of support for other game modes. We are continually working
                                to add support when possible.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- #endregion GameModes -->
            </div>
        </div>
    </div>
</div>
