@import "window-styles";

.preview-container {
    width: 100%;
    height: 200px;
    max-width: 350px;
    border: 1px solid $gray-600;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;

    .preview-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .preview-aiming-reticle-container {
        &,
        &.no-weapon {
            background-image: url("/assets/images/settings-previews/in-game-reticle-no-weapon.webp");
        }
        &.hipfire-assault-rifle {
            background-image: url("/assets/images/settings-previews/in-game-reticle-hipfire-assault-rifle.webp");
        }
        &.hipfire-pistol {
            background-image: url("/assets/images/settings-previews/in-game-reticle-hipfire-pistol.webp");
        }
        &.hipfire-shotgun {
            background-image: url("/assets/images/settings-previews/in-game-reticle-hipfire-shotgun.webp");
        }
        &.ads-assault-rifle {
            background-image: url("/assets/images/settings-previews/in-game-reticle-ads-assault-rifle.webp");
        }
        &.ads-pistol {
            background-image: url("/assets/images/settings-previews/in-game-reticle-ads-pistol.webp");
        }
        &.ads-shotgun {
            background-image: url("/assets/images/settings-previews/in-game-reticle-ads-shotgun.webp");
        }

        app-aiming-reticle {
            transform: scale(1.3);
        }
    }

    .preview-match-timer {
        background-image: url("/assets/images/settings-previews/in-game-match-timer.webp");
    }

    .preview-ult-timer {
        background-image: url("/assets/images/settings-previews/in-game-ult-timer.webp");
    }

    .preview-infliction-insight {
        background-image: url("/assets/images/settings-previews/in-game-infliction-insight.webp");
    }

    .preview-legend-select-stats {
        background-image: url("/assets/images/settings-previews/legend-select-stats.webp");
    }

    .preview-legend-select-suggestions {
        background-image: url("/assets/images/settings-previews/legend-select-suggestions.webp");
    }
}

.hide-file-input {
    display: none;
}
