/**
 * Rank Colors
 * Also found in the Rank class file.
 */
$rank-bronze-color: #8e6f63;
$rank-silver-color: #afafb9;
$rank-gold-color: #d0b583;
$rank-platinum-color: #5ad2ff;
$rank-diamond-color: #1d8ff2;
$rank-master-color: #7e4ad7;
$rank-apexpredator-color: #ff4139;
