<h5>Game Data</h5>
<section class="accordion">
    <!-- #region Game -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gameAccordion">Game</button>
        </h2>
        <div id="gameAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangeGameProcessIsRunningClick()">IsRunning</a></div>
                    <div class="col-6 text-end">{{ gameProcess.isRunning$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangeGameProcessIsInFocusClick()">IsInFocus</a></div>
                    <div class="col-6 text-end">{{ gameProcess.isInFocus$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">
                        <a class="link-primary" (click)="onChangeGamePhaseClick()">GamePhase</a>
                    </div>
                    <div class="col-6 text-end">{{ game.phase$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-8">Overwolf GEP</div>
                    <div class="col-4 text-end"><a class="link-primary" (click)="reloadOWGEPStatus()">(Reload)</a></div>
                    <div class="col-12 text-end">
                        <ng-container *ngIf="featureStatus === 0">Unsupported</ng-container>
                        <ng-container *ngIf="featureStatus === 1">Good</ng-container>
                        <ng-container *ngIf="featureStatus === 2">Partial</ng-container>
                        <ng-container *ngIf="featureStatus === 3">Unavailable</ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Match -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#matchAccordion">Match</button>
        </h2>
        <div id="matchAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangeMatchStateClick()">State</a></div>
                    <div class="col-6 text-end">{{ (match.state$ | async)?.state }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Map</div>
                    <div class="col-6 text-end">{{ (matchMap.map$ | async)?.mapName }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">GameModeId</div>
                    <div class="col-6 text-end">{{ (match.gameMode$ | async)?.gameModeId }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">MatchDuration</div>
                    <div class="col-6 text-end">{{ matchDuration | date: "mm:ss" }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Player -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#playerAccordion">Player</button>
        </h2>
        <div id="playerAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">PlayerName</div>
                    <div class="col-6 text-end">{{ player.myName$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangePlayerStateClick()">PlayerState</a></div>
                    <div class="col-6 text-end">{{ matchPlayer.myState$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Legend Id</div>
                    <div class="col-6 text-end">{{ (matchPlayerLegend.myLegend$ | async)?.name }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Placement</div>
                    <div class="col-6 text-end">{{ matchPlayerStats.myPlacement$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Victory</div>
                    <div class="col-6 text-end">{{ matchPlayerStats.victory$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangePlayerUltimatePercentClick()">UltimatePercent</a></div>
                    <div class="col-6 text-end">{{ matchPlayerLegend.myUltimateCooldown$ | async | percent: "0.0-0" }}</div>
                    <div class="col-6 offset-1"><small>Auto Simulate</small></div>
                    <div class="col-5 text-end">
                        <div class="form-check form-switch form-check-inline me-0">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="autoUltimateSwitch"
                                [checked]="autoUltimate"
                                (change)="onAutoUltimateChange($event)"
                            />
                            <!-- <label class="form-check-label" for="autoUltimateSwitch">Auto Scroll</label> -->
                        </div>
                    </div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Kills</div>
                    <div class="col-6 text-end">{{ matchPlayerStats.myEliminations$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Assists</div>
                    <div class="col-6 text-end">{{ matchPlayerStats.myAssists$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Damage</div>
                    <div class="col-6 text-end">{{ matchPlayerStats.myDamage$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><del>Spectators</del></div>
                    <div class="col-6 text-end">{{ matchPlayerStats.mySpectators$ | async }}</div>
                </div>
                <div
                    class="row"
                    appHighlightOnChange
                    [highlightColor]="changedHighlightColor"
                    title="Info directly from Overwolf's me.totalDamageDealt data. 
                Damage amount does not take into consideration victim's HP, only the raw inflicted amount.
                 eg. A victim's HP at 1 and a damage amount of 20 is still recorded at 20 and not 1; even though the
                 damage required to knockdown the victim is 1.
                The contained damage amount will then appear to be inflated."
                >
                    <div class="col-6">TotalDamageDealt</div>
                    <div class="col-6 text-end">{{ matchPlayerStats.myTotalDamageDealt$ | async }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Inventory -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#inventoryAccordion">Inventory</button>
        </h2>
        <div id="inventoryAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Item In Use</div>
                    <div class="col-6 text-end">{{ (matchPlayerInventory.myInUseItem$ | async)?.friendlyName }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Weapons</div>
                    <div class="col-6 text-end">
                        <div *ngFor="let weaponItem of matchPlayerInventory.myWeaponSlots$ | async | keyvalue">
                            {{ weaponItem.value?.item?.friendlyName }}
                        </div>
                    </div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-12">Inventory</div>
                    <div class="col-12 text-end">
                        <div *ngFor="let slotItem of matchPlayerInventory.myInventorySlots$ | async | keyvalue">
                            {{ slotItem.value?.item?.friendlyName ?? slotItem.value?.item?.itemId }}
                            {{ slotItem.value?.amount ?? 0 > 0 ? "[" + slotItem.value?.amount + "]" : "" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Teammates -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#teammatesAccordion">Teammates</button>
        </h2>
        <div id="teammatesAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div
                    class="row"
                    *ngFor="let teammate of (matchRoster.teammateRoster$ | async)?.allPlayers"
                    appHighlightOnChange
                    [highlightColor]="changedHighlightColor"
                >
                    <div class="col-6">{{ teammate.name }}</div>
                    <div class="col-6 text-end">[{{ teammate.legend?.name }}]</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Match Roster -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#matchRosterAccordion">
                Match Roster
            </button>
        </h2>
        <div id="matchRosterAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-7">Tabs Teams</div>
                    <div class="col-5 text-end">{{ matchRoster.numTeams$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-7">Tabs Players</div>
                    <div class="col-5 text-end">{{ matchRoster.numPlayers$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-7">Players Loaded</div>
                    <div class="col-5 text-end">{{ (matchRoster.matchRoster$ | async)?.allPlayers?.length }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Player Location -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#playerLocationAccordion">
                Player Location
            </button>
        </h2>
        <div id="playerLocationAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">
                        <a class="link-primary" (click)="onChangeLocationPhaseClick()">LocationPhase</a>
                    </div>
                    <div class="col-6 text-end">{{ matchPlayerLocation.myLocationPhase$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Coordinates</div>
                    <div class="col-6 text-end">
                        <span *ngFor="let coord of matchPlayerLocation.myCoordinates$ | async | keyvalue"
                            >{{ coord.value < Infinity ? coord.value : "-" }}{{ coord.key !== "z" ? ", " : "" }}
                        </span>
                    </div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Starting</div>
                    <div class="col-6 text-end">
                        <span *ngFor="let startingCoord of matchPlayerLocation.myStartingCoordinates$ | async | keyvalue"
                            >{{ startingCoord.value < Infinity ? startingCoord.value : "-" }}{{ startingCoord.key !== "z" ? ", " : "" }}
                        </span>
                    </div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Landing</div>
                    <div class="col-6 text-end">
                        <span *ngFor="let landingCoord of matchPlayerLocation.myLandingCoordinates$ | async | keyvalue"
                            >{{ landingCoord.value < Infinity ? landingCoord.value : "-" }}{{ landingCoord.key !== "z" ? ", " : "" }}
                        </span>
                    </div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">Ending</div>
                    <div class="col-6 text-end">
                        <span *ngFor="let endingCoord of matchPlayerLocation.myEndingCoordinates$ | async | keyvalue"
                            >{{ endingCoord.value < Infinity ? endingCoord.value : "-" }}{{ endingCoord.key !== "z" ? ", " : "" }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</section>
