<app-ui-container
    [overwolfWindowName]="OverwolfWindowName.HUDHealingHelper"
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Healing Helper"
    [position]="{ xPercent: 0.085, yPercent: 0.007, xAnchor: 'left', yAnchor: 'bottom' }"
    [size]="{ widthPercent: 0.135, heightPercent: 0.07 }"
>
    <ng-container *ngIf="isVisible">
        <div class="healing-item-icon-container">
            <div
                class="healing-item-icon"
                [ngStyle]="{ 'left.%': healingItem.neededHealthTime }"
                *ngFor="let healingItem of availableHealingItems"
            >
                <span class="healing-item-icon-tick">|</span>
                <img class="healing-item-icon-image" [src]="'../../../../../assets/images/item-icons/' + healingItem.id + '.webp'" />
            </div>
        </div>

        <div class="healing-info-container">
            <img class="healing-info-badge-logo" src="../../../../../assets/images/allfather_badge_logo_sm.webp" alt="" />
            <span class="healing-info-text">
                <ng-container *ngIf="ringNumber">Ring #{{ ringNumber }}</ng-container>
                <ng-container *ngIf="ringNumber && ringDamagePerTick">: </ng-container>
                <ng-container *ngIf="ringDamagePerTick">{{ ringDamagePerTick }}hp/tick</ng-container>

                <ng-container *ngIf="!ringNumber && !ringDamagePerTick">Ring Damage</ng-container>
            </span>
        </div>
    </ng-container>
</app-ui-container>
