<div class="legend-portraits-container">
    <ng-container *ngFor="let legendWeight of complimentaryLegendWeights">
        <div class="legend-group" *ngIf="legendWeight.legendId && legendWeight.weightScore > 0">
            <div class="selected-border">
                <img
                    class="legend-portrait"
                    [style.backgroundColor]="getLegendBGColor(legendWeight.legendId)"
                    [src]="'../../../../assets/images/legend-portraits/medium/' + getLegendImageName(legendWeight.legendId)"
                    alt=""
                />
            </div>

            <h3 class="weight-score">{{ legendWeight.weightScore | percent }}</h3>
        </div>
    </ng-container>
</div>
