$base-height: 75px;
$base-width: 400px;
$main-transparency: 0.9;
$indirect-transparency: 0.75;
$knocked-transparency: 0.6;
$eliminated-transparency: 0.6;

.banner-container {
    border: 3px solid #e7e1cd;
    background: linear-gradient(45deg, #000000, #e7e1cd);
    height: $base-height;
    width: $base-width;
    font-family: "Quantico", sans-serif;
    color: #ffffff;
    opacity: $main-transparency;

    .banner {
        display: flex;
        height: 100%;
    }

    &.indirect-banner {
        opacity: $indirect-transparency;
    }

    &.knocked {
        background: linear-gradient(45deg, #501111, #411712);
        color: red;
        opacity: $knocked-transparency;
    }

    &.eliminated {
        $dot-size: 3px;
        $dot-space: 12px;
        $bg-color: #000000;
        $dot-color: #161616cc;
        background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
            linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
        background-size: $dot-space $dot-space;
        border-color: green;
        color: #ffffff;
        opacity: $eliminated-transparency;

        &.beacon-timed-out {
            $color1: #353535;
            $color2: #000000;
            background-image: linear-gradient(
                120deg,
                $color1 25%,
                $color2 25%,
                $color2 50%,
                $color1 50%,
                $color1 75%,
                $color2 75%,
                $color2 100%
            );
            background-size: 46.19px 80px;
            border-color: grey;
            color: lightgray;
        }
    }
}

.damage {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;

    .damage-header {
        font-size: $base-height * 0.1;
    }

    .damage-footer {
        font-size: $base-height * 0.14;
    }

    .damage-sum {
        font-size: $base-height * 0.32;
        line-height: $base-height * 0.24;
    }
}

.player-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 0 auto;
    padding: $base-height * 0.04 0;

    .player-name {
        font-size: $base-height * 0.2;
        line-height: $base-height * 0.25;
        margin-top: $base-height * 0.05;
    }

    .player-shield-container {
        display: inline-flex;
        width: calc(100% - #{$base-width * 0.04});
    }

    .player-shield-ui-box-shadow {
        background-color: #ffffff3d;
        height: $base-height * 0.12;
        width: calc(20% - #{$base-width * 0.01});
        margin: 0 $base-width * 0.0075;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        .player-shield-ui-box {
            background-color: #ffffff;
            height: $base-height * 0.12;
            width: 100%; // Actual amount per shield box
        }
    }

    .player-health-container {
        width: calc(100% - #{$base-width * 0.04});
    }

    .player-health-ui-box-shadow {
        width: 100%;
        background-color: #ffffff3d;
        height: $base-height * 0.18;

        .player-health-ui-box {
            height: 100%;
            width: 100%; // Actual amount
            background-color: #ffffff;
        }
    }

    .player-status-container {
        font-size: $base-height * 0.2; // 16px
        line-height: $base-height * 0.25;
        margin-bottom: $base-height * 0.05;
        font-weight: bold;
    }
}

.eliminated .player-ui .player-status-container {
    color: red;
}

.knocked .player-ui .player-status-container {
    color: red;
}
