<div
    class="banner-container"
    *ngIf="bannerData"
    [ngClass]="{
        'indirect-banner': bannerData.isIndirectBanner,
        knocked: bannerData.latestInflictionAccum?.isKnocked,
        'eliminated beacon-timed-out': bannerData.latestInflictionAccum?.isEliminated
    }"
>
    <div class="banner">
        <div class="damage">
            <div class="damage-header">Your Damage</div>
            <div class="damage-sum">
                {{ (bannerData.latestInflictionAccum?.shieldDamageSum ?? 0) + (bannerData.latestInflictionAccum?.healthDamageSum ?? 0) }}
            </div>
            <div class="damage-footer">Total</div>
        </div>
        <div class="player-ui">
            <div class="player-name">{{ bannerData.rosterPlayer.name }}</div>
            <div
                class="player-shield-container"
                *ngIf="!bannerData.latestInflictionAccum?.isEliminated && !bannerData.latestInflictionAccum?.isKnocked"
            >
                <ng-container *ngFor="let shieldNum of [0, 1, 2, 3, 4]">
                    <div class="player-shield-ui-box-shadow" *ngIf="bannerData.maybeMaxShield / 25 > shieldNum">
                        <div
                            class="player-shield-ui-box"
                            *ngIf="
                                !bannerData.latestInflictionAccum?.isKnocked &&
                                !bannerData.latestInflictionAccum?.isEliminated &&
                                bannerData.maybeShieldAmount > shieldNum * 25
                            "
                            [style.width.%]="
                                bannerData.maybeShieldAmount < 25 * (shieldNum + 1) ? ((bannerData.maybeShieldAmount % 25) / 25) * 100 : 100
                            "
                        ></div>
                    </div>
                </ng-container>
            </div>
            <div
                class="player-health-container"
                *ngIf="!bannerData.latestInflictionAccum?.isEliminated && !bannerData.latestInflictionAccum?.isKnocked"
            >
                <div class="player-health-ui-box-shadow">
                    <div
                        class="player-health-ui-box"
                        *ngIf="!bannerData.latestInflictionAccum?.isKnocked && !bannerData.latestInflictionAccum?.isEliminated"
                        [style.width.%]="bannerData.maybeHealthAmount"
                    ></div>
                </div>
            </div>
            <div
                class="player-status-container"
                *ngIf="bannerData.latestInflictionAccum?.isKnocked || bannerData.latestInflictionAccum?.isEliminated"
            >
                {{ bannerData.latestInflictionAccum?.isEliminated ? "Eliminated" : "Knocked" }}
                <ng-container *ngIf="bannerData.latestInflictionAccum?.latestTimestamp">
                    {{ bannerData.latestInflictionAccum!.latestTimestamp! | dfnsFormatDistanceToNowStrict: { addSuffix: true } }}
                </ng-container>
            </div>
        </div>
    </div>
</div>
