<div
    class="banner-container"
    *ngIf="bannerData"
    [ngClass]="{
        'indirect-banner': bannerData.isIndirectBanner,
        knocked: bannerData.latestInflictionAccum?.isKnocked,
        'eliminated beacon-timed-out': bannerData.latestInflictionAccum?.isEliminated
    }"
>
    <div class="team-indicator" *ngIf="config?.featureFlags?.inflictionInsight?.teamIndicatorUI" [style.backgroundColor]="teamColor"></div>
    <div
        class="platform-icon"
        *ngIf="config?.featureFlags?.inflictionInsight?.platformUI"
        [ngSwitch]="bannerData.rosterPlayer.platformHardware"
    >
        <img *ngSwitchCase="0" src="../../../../../../assets/images/platform-icons/xbox.webp" />
        <img *ngSwitchCase="1" src="../../../../../../assets/images/platform-icons/playstation.webp" />
        <img *ngSwitchCase="9" src="../../../../../../assets/images/platform-icons/switch.webp" />
        <img *ngSwitchDefault src="../../../../../../assets/images/platform-icons/pc.webp" />
    </div>
    <div class="banner-background"></div>
    <div class="banner-border"></div>
    <div class="banner">
        <!-- #region Total Damage -->
        <div *ngIf="config?.featureFlags?.inflictionInsight?.totalDamageAmount" class="total-damage">
            <div class="total-damage-header">Your Damage</div>
            <div class="total-damage-sum">
                {{ (bannerData.latestInflictionAccum?.shieldDamageSum ?? 0) + (bannerData.latestInflictionAccum?.healthDamageSum ?? 0) }}
            </div>
            <div class="total-damage-footer">Total</div>
        </div>
        <!-- #endregion -->

        <div class="player-ui">
            <div class="player-name">{{ bannerData.rosterPlayer.name }}</div>
            <!-- #region Shield UI -->
            <div
                class="player-shield-container"
                *ngIf="
                    config?.featureFlags?.inflictionInsight?.shieldBarUI &&
                    !bannerData.latestInflictionAccum?.isEliminated &&
                    !bannerData.latestInflictionAccum?.isKnocked
                "
            >
                <ng-container *ngFor="let shieldNum of [0, 1, 2, 3, 4]">
                    <div class="player-shield-ui-box-shadow" *ngIf="bannerData.maybeMaxShield / 25 > shieldNum">
                        <div
                            class="player-shield-ui-box"
                            *ngIf="
                                !bannerData.latestInflictionAccum?.isKnocked &&
                                !bannerData.latestInflictionAccum?.isEliminated &&
                                bannerData.maybeShieldAmount > shieldNum * 25
                            "
                            [style.width.%]="
                                bannerData.maybeShieldAmount < 25 * (shieldNum + 1) ? ((bannerData.maybeShieldAmount % 25) / 25) * 100 : 100
                            "
                        ></div>
                    </div>
                </ng-container>
            </div>
            <!-- #endregion -->
            <!-- #region Health UI -->
            <div
                class="player-health-container"
                *ngIf="
                    config?.featureFlags?.inflictionInsight?.healthBarUI &&
                    !bannerData.latestInflictionAccum?.isEliminated &&
                    !bannerData.latestInflictionAccum?.isKnocked
                "
            >
                <div class="player-health-ui-box-shadow">
                    <div
                        class="player-health-ui-box"
                        *ngIf="!bannerData.latestInflictionAccum?.isKnocked && !bannerData.latestInflictionAccum?.isEliminated"
                        [style.width.%]="bannerData.maybeHealthAmount"
                    ></div>
                </div>
            </div>
            <!-- #endregion -->

            <div class="split-damage-container">
                <!-- #region Shield Damage -->
                <div class="split-damage" *ngIf="config?.featureFlags?.inflictionInsight?.shieldDamageAmount">
                    <div class="split-damage-header">Shield Damage</div>
                    <div class="split-damage-sum">{{ (bannerData.latestInflictionAccum?.shieldDamageSum ?? 0) }}</div>
                </div>
                <!-- #region Shield Damage -->
                <!-- #endregion -->
                <div class="split-damage" *ngIf="config?.featureFlags?.inflictionInsight?.healthDamageAmount">
                    <div class="split-damage-header">Health Damage</div>
                    <div class="split-damage-sum">{{ (bannerData.latestInflictionAccum?.healthDamageSum ?? 0) }}</div>
                </div>
                <!-- #endregion -->
            </div>

            <!-- #region Knocked/Eliminated -->
            <div
                class="player-status-container"
                *ngIf="bannerData.latestInflictionAccum?.isKnocked || bannerData.latestInflictionAccum?.isEliminated"
            >
                {{ bannerData.latestInflictionAccum?.isEliminated ? "Eliminated" : "Knocked" }}
                <ng-container *ngIf="bannerData.latestInflictionAccum?.latestTimestamp">
                    {{ bannerData.latestInflictionAccum!.latestTimestamp! | dfnsFormatDistanceToNowStrict: { addSuffix: true } }}
                </ng-container>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
