<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Ultimate Timer"
    [position]="{ xPercent: 0.05, yPercent: 0.015, xAnchor: 'center', yAnchor: 'bottom' }"
    [size]="{ widthPercent: 0.078, heightPercent: 0.0347 }"
>
    <div
        class="timer-container"
        [ngClass]="{
            'no-confidence': confidenceLevel == 'none',
            'low-confidence': confidenceLevel == 'low'
        }"
        *ngIf="!isUltimateReady && isVisible"
    >
        <p class="timer-display text-shadow-dark-sm">
            <ng-container *ngIf="displayType == UltimateTimerType.TimeRemaining && maybeReadyDate">
                {{ maybeReadyDate | customFormatDistanceToNow: { hour: "hr", minute: "min", second: "sec" }:"floor" }}
            </ng-container>
            <ng-container *ngIf="displayType == UltimateTimerType.TimeTotal">
                {{ totalReadyDate | customFormatDistanceToNow: { hour: "hr", minute: "min", second: "sec" }:"floor" }}
            </ng-container>
        </p>
    </div>
</app-ui-container>
