<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Ultimate Timer"
    [position]="{ x: 135, y: -20 }"
    [positionUnits]="{ x: 'pixel', y: 'pixel' }"
    [positionAnchors]="{ x: 'center', y: 'bottom' }"
>
    <div
        class="timer-container"
        [ngClass]="{
            'no-confidence': confidenceLevel == 'none',
            'low-confidence': confidenceLevel == 'low'
        }"
        *ngIf="!isUltimateReady && isVisible"
    >
        <p class="timer-display">
            <ng-container *ngIf="maybeReadyDate">
                {{ maybeReadyDate | customFormatDistanceToNow: { hour: "hr", minute: "min", second: "sec" }:"floor" }}
            </ng-container>
        </p>
    </div>
</app-ui-container>
