@import "window-styles";

.loading-splash-bg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-splash-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .badge-logo {
            max-height: 200px;
            max-width: 200px;
        }

        .loading-title {
            font-size: 1.25rem;
        }
    }
}

.caption-text {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    animation: caption-text-anim 2s normal 1 ease-out;
    opacity: 0;
}

@keyframes caption-text-anim {
    from {
        opacity: 100%;
        transform: translateX(0%);
    }
    to {
        opacity: 0%;
        transform: translateX(1%);
    }
}

.main-container {
    display: flex;
    flex: 1 0;
    height: 100%;
}

.sidebar {
    width: 250px;
    height: 100%;
}

.mainpage {
    width: 100%;
}
