<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Ultimate Timer"
    [position]="{ top: 0.95, left: 0.5 }"
    positionUnit="percent"
    positionXAnchor="left"
    positionYAnchor="bottom"
>
    <div
        class="timer-container"
        [ngClass]="{
            'no-confidence': confidenceLevel == 'none',
            'low-confidence': confidenceLevel == 'low'
        }"
        *ngIf="!isUltimateReady && isVisible"
    >
        <p class="timer-display">
            <ng-container *ngIf="maybeReadyDate">
                {{ maybeReadyDate | customFormatDistanceToNow: { minute: "min", second: "sec" }:"floor" }}
            </ng-container>
        </p>
    </div>
</app-ui-container>
