@import "in-game-styles";

.timer-container {
    color: white;
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.timer-display {
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
