@import "hud-styles";
:host {
    text-align: center;
}

.timer-container {
    background: rgba(128, 128, 128, 0.5);
    color: white;
    display: inline-flex;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
    border: 2vw solid white;
    border-radius: 3vw;
    box-sizing: border-box;
}

.timer-display {
    font-family: "Quantico", sans-serif;
    font-size: 15vw;
    margin: 0;
    padding: 0;
}

.tilt-box {
    transform: skewX(-30deg);
    margin: 0 10vw;
    padding: 0 10vw;
}

.untilt-content {
    transform: skewX(30deg);
}
