<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Match Timer"
    [position]="{ x: 162, y: 18 }"
    [positionUnits]="{ x: 'pixel', y: 'pixel' }"
    [positionAnchors]="{ x: 'left', y: 'top' }"
>
    <div class="timer-container tilt-box" *ngIf="isDateValid(matchDurationDate) && showTimer">
        <p class="timer-display untilt-content">
            <ng-container>{{ matchDurationDate | date: "mm:ss" }}</ng-container>
        </p>
    </div>
</app-ui-container>
