<app-ui-container
    [overwolfWindowName]="OverwolfWindowName.HUDMatchTimer"
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Match Timer"
    [position]="{ xPercent: 0.06, yPercent: 0.0125, xAnchor: 'left', yAnchor: 'top' }"
    [size]="{ widthPercent: 0.0625, heightPercent: 0.0347 }"
>
    <div class="timer-container tilt-box" *ngIf="isDateValid(matchDurationDate) && showTimer">
        <p class="timer-display untilt-content text-shadow-dark-sm">
            {{ matchDurationDate | date: "mm:ss" }}
        </p>
    </div>
</app-ui-container>
