<ng-container *ngIf="owWindowInfo | async as winInfo">
    <ng-container [ngSwitch]="winInfo.name">
        <app-background *ngSwitchCase="OverwolfWindowName.Background"></app-background>

        <app-development-tools-window *ngSwitchCase="OverwolfWindowName.DevelopmentTools"></app-development-tools-window>
        <app-desktop-window
            *ngSwitchCase="OverwolfWindowName.Desktop"
            [overwolfWindowName]="OverwolfWindowName.Desktop"
        ></app-desktop-window>
        <app-in-game-window *ngSwitchCase="OverwolfWindowName.InGame"></app-in-game-window>
        <app-hud-mini-inventory-window *ngSwitchCase="OverwolfWindowName.HUDMiniInventory"></app-hud-mini-inventory-window>
        <app-match-summary-window *ngSwitchCase="OverwolfWindowName.MatchSummary"></app-match-summary-window>

        <div *ngSwitchDefault>Could not match window with name: {{ winInfo.name }}</div>
    </ng-container>
</ng-container>
