<div class="container-lg mt-4">
    <div class="row">
        <div class="col pe-4">
            <app-legend-icons-board
                [legendIconRows]="legendIdsRows"
                (onLegendHover)="hoverLegend($event)"
                (onLegendUnhover)="unhoverLegend()"
            ></app-legend-icons-board>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>
                        <span *ngIf="playerName">{{ playerName }}</span>
                        <span *ngIf="getLegendName(focusedLegendId); let legendName"> - {{ legendName | uppercase }}</span>
                    </h2>
                </div>
            </div>

            <!-- #region Your Stats / Legend Stats -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">
                                YOUR STATS ({{ (focusedLegendId ? legendStats?.numMatches : myStats?.numMatches) ?? 0 }}
                                {{ (focusedLegendId ? legendStats?.numMatches : myStats?.numMatches) == 1 ? "match" : "matches" }})
                            </h6>
                        </div>
                        <div class="card-content">
                            <div class="row my-3" *ngIf="legendStats ?? myStats ?? emptyStats; let stats">
                                <div class="col-6 col-lg-3 stat-group my-2">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgWins ?? 0) >= 0 && (stats?.avgWins ?? 0) < 1 ? stats.avgWins : 0) | percent }}
                                    </h1>
                                    <h5 class="stat-title mt-1">Win Rate</h5>
                                </div>
                                <div class="col-6 col-lg-3 stat-group my-2">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgEliminations ?? 0) >= 0 && (stats?.avgEliminations ?? 0) <= 100 ? stats.avgEliminations : 0) | number: "1.2-2" }}
                                    </h1>
                                    <h5 class="stat-title mt-1">Kill Rate</h5>
                                </div>
                                <div class="col-6 col-lg-3 stat-group my-2">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgKnockdowns ?? 0) >= 0 && (stats?.avgKnockdowns ?? 0) <= 100 ? stats.avgKnockdowns : 0) | number: "1.2-2" }}
                                    </h1>
                                    <h5 class="stat-title mt-1">Knockdown Rate</h5>
                                </div>
                                <div class="col-6 col-lg-3 stat-group my-2">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgDamage ?? 0) >= 0 && (stats?.avgDamage ?? 0) <= 50000 ? stats.avgDamage : 0) | number: "1.0-0" }}
                                    </h1>
                                    <h5 class="stat-title mt-1">Avg Damage</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <!-- #region Suggestions -->
            <div class="row">
                <div class="col-6 pe-0">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">SUGGESTED SQUAD</h6>
                        </div>
                        <div class="card-content">
                            <app-complimentary-legends
                                class="complimentary-legends"
                                *ngIf="
                                    legendComplimentaryLegendWeights && legendComplimentaryLegendWeights.length
                                        ? legendComplimentaryLegendWeights
                                        : myComplimentaryLegendWeights;
                                    let legendWeights
                                "
                                [complimentaryLegendWeights]="legendWeights"
                            ></app-complimentary-legends>
                        </div>
                    </div>
                </div>
                <div class="col-6 ps-0">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">SUGGESTED WEAPONS</h6>
                        </div>
                        <div class="card-content">
                            <!-- Weapons -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
