<!-- #region In-Game HUD -->
<div class="container-xl">
    <div class="row">
        <div class="col-6 col-xl-5">
            <table class="table table-dark table-striped table-hover mt-4">
                <thead>
                    <tr>
                        <td class="align-middle"><h5 class="m-2">In-Game HUD</h5></td>
                        <td class="align-middle text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ps-5">Match Timer</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-5">Ultimate Timer</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-5">Infliction Insight</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 col-xl-7">
            <div class="preview-image-container"></div>
        </div>
    </div>
</div>
<!-- #endregion -->

<!-- #region Legend Select -->
<div class="container-xl">
    <div class="row">
        <div class="col-6 col-xl-5">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <td class="align-middle"><h5 class="m-2">Legend Selection Screen</h5></td>
                        <td class="align-middle text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ps-5">Legend Statistics</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-5">Legend Suggestions</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 col-xl-7"></div>
    </div>
</div>

<!-- #region Export/Import -->
<div class="container-xl">
    <div class="row">
        <div class="col-6 col-xl-5">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <td class="align-middle" colspan="2"><h5 class="m-2">Advanced</h5></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ps-5">Export Local Data</td>
                        <td class="text-end pe-5">
                            <button class="btn btn-sm btn-primary" type="button" (click)="exportLocalDatabase()">Export</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-5">Import Local Data</td>
                        <td class="text-end pe-5">
                            <input type="file" class="hide-file-input" (change)="importLocalDatabase($event)" #fileUpload />

                            <button type="button" class="btn btn-sm btn-primary" (click)="fileUpload.click()">
                                <icon [path]="mdiAttachment"></icon> Import
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 col-xl-7"></div>
    </div>
</div>
