<!-- #region Confirm Exit Modal -->
<div class="modal fade" tabindex="-1" #confirmExitModal>
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exit {{ APP_NAME }}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Game data will not be tracked.<br />
                    <!-- Video recording in-progress will be stopped.<br /> -->
                    Are you sure?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onExitAppClick()">Exit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<app-ui-container
    @fadeInOut
    @scaleInOut
    *ngIf="isLoading || isAppStarting"
    [injectBootstrapCSS]="true"
    [primaryTitle]="''"
    [isMaximizable]="false"
    [isMinimizable]="false"
    [isDesktopWindow]="false"
    [isTitlebarDraggable]="true"
    [isContentDraggable]="true"
    [enablePageviewTracking]="false"
>
    <div class="loading-splash-bg" id="loading-container">
        <div class="loading-splash-container">
            <img class="badge-logo mt-5" src="../../../../assets/images/allfather_badge_logo_lg.webp" alt="Allfather Logo" />
            <h1 class="loading-title mt-5 text-muted">Loading...</h1>
        </div>
    </div>
    <div class="caption-text">{{ randomCaption }}</div>
</app-ui-container>

<div *ngIf="!isLoading">
    <app-ui-container
        [primaryTitle]="''"
        [secondaryTitle]="toggleMainHotkey?.friendlyBinding ?? ''"
        [isMaximizable]="false"
        [showSettingsLink]="hasSeenFirstRun"
        [injectBootstrapCSS]="true"
        [isDesktopWindow]="true"
        [isTitlebarDraggable]="true"
        [isContentDraggable]="false"
        [enablePageviewTracking]="false"
        [onCloseButtonClick]="onCloseButtonClick"
    >
        <app-navbar *ngIf="hasSeenFirstRun" (navPage)="goToPage($event)" [currentPage]="activePage"></app-navbar>
        <ng-container [ngSwitch]="activePage">
            <app-about-page *ngSwitchCase="MainPage.About"></app-about-page>
            <app-academy-page *ngSwitchCase="MainPage.Academy"></app-academy-page>
            <app-charting-page *ngSwitchCase="MainPage.Charting"></app-charting-page>
            <app-first-run-page *ngSwitchCase="MainPage.FirstRun" (finishButtonClick)="onFinishFirstRunClick()"></app-first-run-page>
            <app-map-explorer-page *ngSwitchCase="MainPage.MapExplorer"></app-map-explorer-page>
            <app-match-explorer-page *ngSwitchCase="MainPage.MatchExplorer"></app-match-explorer-page>
            <app-settings-page *ngSwitchCase="MainPage.Settings"></app-settings-page>

            <app-dashboard-page *ngSwitchDefault></app-dashboard-page>
        </ng-container>

        <div class="info-bar">
            <div class="info-bar-item" *ngIf="appVersion">{{ appVersion }} {{ aXNWSVA }}</div>
            <div class="info-bar-item">
                Service Status:&nbsp;
                <app-game-events-status-indicator [allFeatureStates]="allFeatureStates"></app-game-events-status-indicator>
            </div>
            <div class="info-bar-item">
                Made by <img src="../../../../assets/images/masterkriff_icon_sm.png" alt="" />
                MasterKriff
                <a class="social-link" href="https://discord.com/invite/Hq98EfdcHP"><icon [path]="mdiDiscord"></icon></a>
                <a class="social-link" href="https://www.youtube.com/c/MasterKriff"><icon [path]="mdiYoutube"></icon></a>
            </div>
        </div>
    </app-ui-container>
</div>
