@import "window-styles";

.loading-splash-bg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-splash-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .badge-logo {
            max-height: 200px;
            max-width: 200px;
        }

        .loading-title {
            font-size: 1.25rem;
        }
    }
}

.caption-text {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    animation: caption-text-anim 2s normal 1 ease-out;
    opacity: 0;
}

@keyframes caption-text-anim {
    from {
        opacity: 100%;
        transform: translateX(0%);
    }
    to {
        opacity: 0%;
        transform: translateX(1%);
    }
}

.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5rem;
    background-color: $secondary;
    font-size: 0.75rem;
    color: $black;

    .info-bar-item {
        padding: 0 1rem;
    }
}