<!-- #region Academy Video Modal -->
<div class="modal fade" tabindex="-1" #academyVideoModal>
    <div class="modal-dialog modal-dialog-centered modal-xl" id="academy-video-modal">
        <div class="modal-content academy-video-modal-content">
            <iframe
                class="academy-video-modal-iframe"
                *ngIf="youTubeVideoUrl"
                [src]="youTubeVideoUrl | safe: 'resourceUrl'"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
<!-- #endregion -->

<div class="container mt-3">
    <div class="row">
        <div class="col" appFullHeight [marginBottom]="25">
            <ng-container *ngFor="let academyVideoCategory of academyVideoCategories">
                <h3>{{ academyVideoCategory.friendlyName }}</h3>
                <div class="youtube-thumbnail-category">
                    <a
                        [href]
                        (click)="onYouTubeVideoClick(academyVideo.youtubeVideoId)"
                        class="youtube-thumbnail"
                        *ngFor="let academyVideo of academyVideoCategory.videos"
                    >
                        <img
                            class="youtube-thumbnail-image"
                            [src]="academyVideo.thumbnailUrl('mqdefault')"
                            [alt]="academyVideo.friendlyName"
                        />
                        <div class="youtube-thumbnail-title">{{ academyVideo.friendlyName }}</div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>
