<app-ui-container
    [overwolfWindowName]="OverwolfWindowName.LobbyStatus"
    [isDesktopWindow]="false"
    [isContentDraggable]="false"
    primaryTitle="Lobby Status"
    [position]="{ xPercent: 0, yPercent: 0, xAnchor: 'left', yAnchor: 'bottom' }"
    [size]="{ widthPercent: 0.216, heightPercent: 0.338 }"
>
    <div class="lobby-status-container">
        TODO
        <!-- TODO: Show Raw Games icon on the right -->
        <!-- <div class="raw-hud-button" (click)="isHUDExpanded = !isHUDExpanded">
            <img class="raw-hud-button-image" src="../../../../assets/images/raw-icon.png" alt="" />
        </div> -->
    </div>
</app-ui-container>
