a {
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.35rem;
}

.pane-container {
    display: flex;
    height: 95%;
    margin: 3px;
}

.pane {
    flex: 1 1 100%;
    border: 1px solid #e6e6e6;
    margin: 2px;
    overflow-y: auto;
}

.has-tooltip {
    cursor: help;

    &::after {
        display: inline-block;
        content: "?";
        color: #808080;
        font-size: smaller;
        vertical-align: super;
    }
}

.sub-inference-items {
    margin-left: 1rem;
}

.inference-item {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75rem;
    user-select: text;
    margin: 0.15rem;
}

.log-box {
    width: 100%;
    height: 85%;
    box-sizing: border-box;
}

.control-bar {
    display: flex;
    align-items: center;

    * {
        flex: 0 0 auto;
    }

    &-right {
        margin-left: auto;
        margin-right: 1rem;
    }
}

.pulse {
    animation: pulse 750ms alternate infinite;
}

@keyframes pulse {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

.flash-on-change {
    animation: normal 1s ease orange-flash;
}

@keyframes orange-flash {
    from {
        background-color: orangered;
    }

    to {
        background-color: transparent;
    }
}
