h1 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.35rem;
}

.pane-container {
    display: flex;
    height: 95%;
    margin: 3px;
}

.pane {
    flex: 0 1 100%;
    border: 1px solid #e6e6e6;
    margin: 2px;
    overflow-y: auto;
}

.log {
    white-space: pre;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75rem;
    user-select: text;
}
