<app-ui-container
    [primaryTitle]="primaryTitle"
    [isDesktopWindow]="true"
    [isTitlebarDraggable]="true"
    [isContentDraggable]="false"
>
    <button (click)="onOpenUltimateCountdownClick()">Open Ultimate Countdown</button>
    <button (click)="onOpenMatchTimerClick()">Open Match Timer</button>
    <button (click)="onForceRefreshClick()">Force Refresh</button>

    <section class="pane-container">
        <div class="pane" style="min-width: 175px; flex: 1 1 50%">
            <h1>Inferences</h1>
            <div>
                <h2>Game Stage</h2>
                <p class="log">{{ gameStage }}</p>
            </div>
            <div>
                <h2>Game Mode</h2>
                <p class="log">{{ gameMode }}</p>
            </div>
            <div>
                <h2>Game Map</h2>
                <p class="log">{{ gameMapName }}</p>
            </div>
            <div>
                <h2>Squadmates</h2>
                <p class="log">{{ playerSquadmates }}</p>
            </div>
            <div>
                <h2>Player Name</h2>
                <p class="log">{{ playerName }}</p>
            </div>
            <div>
                <h2>Player Legend</h2>
                <p class="log">{{ playerLegend }}</p>
            </div>
            <div>
                <h2>Player Location</h2>
                <p class="log">{{ playerLocation }}</p>
            </div>
            <div>
                <h2>Match Time</h2>
                <p class="log">
                    Started: {{ matchStartDate | date: "mediumTime" }}<br />
                    Ended: {{ matchEndDate | date: "mediumTime" }}<br />
                    Duration: {{ matchDurationDate | date: "mm:ss.SSS" }}
                </p>
            </div>
        </div>
        <div class="pane">
            <h1>
                Info
                <button (click)="onInjectInfoCmdClick()">Inject Raw</button>
                <button (click)="onInjectInfoLogClick()">Inject Log</button>
                <button (click)="gameInfoList = ''">Clear</button>
            </h1>
            <textarea class="log-box" readonly>{{ gameInfoList }}</textarea>
        </div>
        <div class="pane">
            <h1>
                Event
                <button (click)="onInjectEventCmdClick()">Inject Raw</button>
                <button (click)="onInjectEventLogClick()">Inject Log</button>
                <button (click)="gameEventList = ''">Clear</button>
            </h1>
            <textarea class="log-box" readonly>{{ gameEventList }}</textarea>
        </div>
    </section>
</app-ui-container>
