@import "hud-styles";

.legend-stats-container {
    display: flex;
    position: absolute;
    width: 55.55vw;
    top: 5.9vh;
    right: 20.138vw;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.stat-group {
    color: white;
    font-family: "Quantico", sans-serif;
    text-transform: uppercase;
    text-align: center;

    .stat-digit {
        font-size: 3.35vw;
        line-height: 3.9vw;
        margin: 0;
    }

    .stat-title {
        font-size: 1.11vw;
        line-height: 2.22vw;
        margin: 0;
    }
}
