<app-ui-container
    [overwolfWindowName]="OverwolfWindowName.HUDMiniInventory"
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="Mini-Inventory"
    [position]="{ xPercent: 0, yPercent: -0.12, xAnchor: 'right', yAnchor: 'bottom' }"
    [size]="{ widthPercent: 0.27, heightPercent: 0.12 }"
>
    <ng-container *ngIf="isVisible">
        <div class="mini-inventory-container">
            <div class="mini-inventory-item tilt-box" *ngFor="let inventorySlot of myInventorySlotList">
                <div class="untilt-content">
                    <img
                        class="mini-inventory-item-image"
                        [src]="'../../../../assets/images/item-icons/' + inventorySlot.item.itemId + '.webp'"
                    />
                    <div class="mini-inventory-item-amount">
                        {{ inventorySlot.amount }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mini-inventory-header" *ngIf="isVisible">
            <img class="mini-inventory-header-badge-logo" src="../../../../../assets/images/allfather_badge_logo_sm.webp" alt="" />
            <span class="mini-inventory-header-text">Inventory</span>
        </div>
    </ng-container>
</app-ui-container>
