@import "window-styles";

.youtube-thumbnail-category {
    margin-bottom: 2rem;
}

.youtube-thumbnail {
    display: inline-block;
    width: 16vw;
    height: 100%;
    margin-bottom: 1.5rem;
    vertical-align: top;
    font-family: "Roboto", Arial,sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: $white;
    text-decoration: none;
    cursor: pointer;
     
    &:nth-child(1n+1) {
        margin-left: calc(22.08% * .1);
    }

    &-image {
        width: 100%;
        height: 100%;
    }

    &-title {
        margin-top: 0.5rem;
    }
}

.modal-content.academy-video-modal-content {
    height: calc(800px * .56);

    .academy-video-modal-iframe {
        height: 100%;
        width: 100%;
    }
}