<ng-container *ngIf="owWindowInfo | async as winInfo">
    <ng-container [ngSwitch]="winInfo.name">
        <app-background *ngSwitchCase="OverwolfWindowName.Background"></app-background>

        <app-development-tools-window *ngSwitchCase="OverwolfWindowName.DevelopmentTools"></app-development-tools-window>
        <app-main-window
            *ngSwitchCase="OverwolfWindowName.MainDesktop"
            [overwolfWindowName]="OverwolfWindowName.MainDesktop"
        ></app-main-window>
        <app-main-window
            *ngSwitchCase="OverwolfWindowName.MainInGame"
            [overwolfWindowName]="OverwolfWindowName.MainInGame"
        ></app-main-window>
        <app-lobby-status-window *ngSwitchCase="OverwolfWindowName.LobbyStatus"></app-lobby-status-window>
        <app-hud-mini-inventory-window *ngSwitchCase="OverwolfWindowName.HUDMiniInventory"></app-hud-mini-inventory-window>

        <div *ngSwitchDefault>Could not match window with name: {{ winInfo.name }}</div>
    </ng-container>
</ng-container>
