<div class="container-xl">
    <div class="row">
        <div class="col-7 col-xl-5" appFullHeight>
            <!-- #region Hotkeys -->
            <table class="table table-dark table-striped table-hover mt-4">
                <thead>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="align-middle" colspan="2"><h5 class="m-2">Hotkeys</h5></td>
                    </tr>
                </thead>
                <tbody [formGroup]="hotKeyFormGroup">
                    <tr *ngFor="let hotkey of hotkeysList" (mouseover)="selectedPreviewSetting = undefined">
                        <td class="ps-4 ps-lg-5">{{ hotkey.friendlyName }}</td>
                        <td class="text-end px-5">
                            <app-hotkey-editor [hotkey]="hotkey" (hotkeyChange)="onHotkeyChange($event)"></app-hotkey-editor>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- #endregion -->

            <!-- #region General -->
            <table class="table table-dark table-striped table-hover mt-4">
                <thead>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="align-middle" colspan="2"><h5 class="m-2">General</h5></td>
                    </tr>
                </thead>
                <tbody>
                    <tr (mouseover)="selectedPreviewSetting = SettingPreview.MinimizeToTray">
                        <td class="ps-4 ps-lg-5">
                            Minimize to System Tray
                            <icon
                                [path]="mdiInformationOutline"
                                [title]="'May cause slower stats loading on the Main ' + APP_NAME + ' window'"
                            ></icon>
                        </td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" [formControl]="minimizeToTray" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- #endregion -->

            <!-- #region In-Game HUD -->
            <table class="table table-dark table-striped table-hover mt-4">
                <thead>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="align-middle"><h5 class="m-2">In-Game HUD</h5></td>
                        <td class="align-middle text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" [formControl]="enableAllInGameHUD" />
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody [formGroup]="inGameHUDFormGroup">
                    <tr
                        *ngIf="config?.featureFlags?.enableMiniInventoryWindow"
                        (mouseover)="selectedPreviewSetting = SettingPreview.MiniInventory"
                    >
                        <td class="ps-4 ps-lg-5">Mini Inventory</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    [formControlName]="SettingKey.EnableInGameMiniInventoryHUD"
                                />
                            </div>
                        </td>
                    </tr>
                    <!-- #endregion -->
                </tbody>
            </table>
            <!-- #endregion -->

            <!-- #region Export/Import -->
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="align-middle" colspan="2"><h5 class="m-2">Advanced</h5></td>
                    </tr>
                </thead>
                <tbody>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="ps-4 ps-lg-5">Stats Tracking</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <input class="form-check-input" type="checkbox" [formControl]="enableLocalDBReporting" />
                            </div>
                        </td>
                    </tr>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="ps-4 ps-lg-5">Export Last Match Log</td>
                        <td class="text-end pe-5">
                            <div class="form-check form-switch d-inline-flex">
                                <button class="btn btn-sm btn-primary" type="button" (click)="exportGameLog()">Export</button>
                            </div>
                        </td>
                    </tr>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="ps-4 ps-lg-5">Export Local Database</td>
                        <td class="text-end pe-5">
                            <button class="btn btn-sm btn-primary" type="button" (click)="exportLocalDatabase()">Export</button>
                        </td>
                    </tr>
                    <tr (mouseover)="selectedPreviewSetting = undefined">
                        <td class="ps-4 ps-lg-5">
                            Import Local Database
                            <icon
                                class="text-danger"
                                [path]="mdiInformationOutline"
                                [title]="'WARNING: This will overwrite ALL of your recorded data, including stats!'"
                            ></icon>
                        </td>
                        <td class="text-end pe-5">
                            <input type="file" class="hide-file-input" (change)="importLocalDatabase($event)" #fileUpload />

                            <button type="button" class="btn btn-sm btn-primary" (click)="fileUpload.click()">
                                <icon [path]="mdiAttachment"></icon> Import
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- #endregion -->
        </div>
        <div class="col-5 col-xl-7">
            <!-- #region Preview -->
            <ng-container *ngIf="selectedPreviewSetting">
                <h4 class="mt-5 text-center">Preview</h4>
                <div class="preview-container">
                    <div
                        *ngIf="selectedPreviewSetting === SettingPreview.MinimizeToTray"
                        class="preview-image preview-minimize-to-tray"
                    ></div>
                    <div *ngIf="selectedPreviewSetting === SettingPreview.MiniInventory" class="preview-image preview-mini-inventory"></div>
                </div>
            </ng-container>
            <!-- #endregion -->

            <!-- #region Other Links -->
            <div class="other-links-container text-right">
                <a href (click)="onHomeClick()">Raw Apex Games Home</a><br />

                <a href (click)="onAboutClick()">About</a>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
