@import "window-styles";

.rank-title {
    font-weight: 600;
    font-size: 2.5vw;
}

.roman-numeral {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}

.rank-icon {
    &.current {
        width: 10vw;
    }

    &.next {
        width: 7.5vw;
    }
}

.rank-score {
    font-size: 2vw;
}

.rank-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: -35px;
    // margin-bottom: -55px;

    .tier-progress-bar {
        flex-grow: 1;
        height: 5px;
        // background-color: transparent;
        margin-top: -30px;
        position: relative;

        & > * {
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $black;
            opacity: 0.6;
        }

        .tier-progress {
            display: block;
            height: 100%;
            width: 0;
            // background-color: transparent;
        }
    }

    .tier-progress-score {
        margin-top: 10px;

        &.current {
            font-size: calc(0.25rem + 1.5vw);
        }

        &.next {
            font-size: 1.5vw;
            opacity: 0.85;
        }
    }
}

.score-distance-container {
    text-align: center;
    margin-top: -55px;
}

.rank-score-rate {
    font-size: 1.25vw;
    font-family: "Quantico", sans-serif;
}

// Rank Text Color
.rank-bronze-color {
    color: $rank-bronze-color;
}

.rank-silver-color {
    color: $rank-silver-color;
}

.rank-gold-color {
    color: $rank-gold-color;
}

.rank-platinum-color {
    color: $rank-platinum-color;
}

.rank-diamond-color {
    color: $rank-diamond-color;
}

.rank-master-color {
    color: $rank-master-color;
}

.rank-apexpredator-color {
    color: $rank-apexpredator-color;
}

// Rank Background Color
.rank-bronze-bgcolor {
    background-color: $rank-bronze-color;
}

.rank-silver-bgcolor {
    background-color: $rank-silver-color;
}

.rank-gold-bgcolor {
    background-color: $rank-gold-color;
}

.rank-platinum-bgcolor {
    background-color: $rank-platinum-color;
}

.rank-diamond-bgcolor {
    background-color: $rank-diamond-color;
}

.rank-master-bgcolor {
    background-color: $rank-master-color;
}

.rank-apexpredator-bgcolor {
    background-color: $rank-apexpredator-color;
}
