@import "window-styles";

.legend-portraits-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
}

.legend-group {
    text-align: center;
}

.weight-score {
    font-size: 1.75rem;
    color: white;
    font-family: "Quantico", sans-serif;
    font-size: calc(0.25rem + 1vw);
    line-height: calc(0.25rem + 1vw);
}

.selected-border {
    padding: 5px;
    // border: 5px solid white;
}

.suggested-border {
    &:first-of-type {
        border-left: 5px solid white;
    }

    &:last-of-type {
        border-right: 5px solid white;
    }
}

.legend-portrait {
    max-width: 5vw;
    max-height: 65px;
}
