<div class="legend-icon-row" *ngFor="let legendRow of legendIconRows" (mouseleave)="onLegendUnhover.next()">
    <div
        class="legend-icon-hitbox tilt"
        *ngFor="let legendId of legendRow"
        (mouseover)="onLegendHover.next(legendId)"
        (click)="onLegendClick.next(legendId)"
    >
        <div class="legend-portrait-container untilt">
            <img
                class="legend-portrait-image"
                [src]="'../../../assets/images/legend-portraits/large/' + getLegendImageName(legendId)"
                alt=""
            />
            <div class="legend-portrait-name-tag">
                {{ getLegendName(legendId) }}
            </div>
        </div>
    </div>
</div>
