@import "window-styles";
$skewX: -30deg;

.tilt {
    transform: skewX($skewX);

    .untilt {
        transform: skewX(-$skewX);
    }
}

.legend-icon-row {
    display: flex;
    width: 100%;
    padding: 0.5% 0;
    align-content: flex-start;
    justify-content: center;
}

.legend-icon-hitbox {
    width: 100%;
    min-height: 5vw;
    margin: 0 0.5%;
    border: 0.15rem solid #67708a88;
    opacity: 0.85;
    transition: all 0.1s linear;
    animation: border-pulse 0.6s infinite alternate linear paused;

    &:hover {
        border-color: white;
        opacity: 1;
        animation-play-state: running;
    }
}

.legend-portrait {
    &-container {
        position: relative;
        clip-path: polygon(30% 0%, 130% 0%, 70% 100%, -30% 100%);
        height: 100%;
        width: 100%;
    }

    &-image {
        height: 100%;
        width: 100%;
    }

    &-name-tag {
        position: absolute;
        background-color: white;
        color: black;
        bottom: 0;
        right: 0;
        left: -50%;
        font-family: "Quantico", sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: calc(2px + 0.6vw);
        font-weight: 700;
    }
}

@keyframes border-pulse {
    to {
        border-color: rgba(255, 255, 255, 0.5);
    }
}
