<div class="complimentary-legends-container" *ngIf="complimentaryLegendWeights.length">
    <h1 class="complimentary-legends-title">
        Your Suggested Legends <ng-container *ngIf="legendName?.length">With {{ legendName }}</ng-container>
    </h1>

    <div class="legend-portraits-container">
        <ng-container *ngFor="let legendWeight of complimentaryLegendWeights">
            <div class="legend-group" *ngIf="legendWeight.legendId && legendWeight.weightScore > 0">
                <div class="selected-border">
                    <img
                        class="legend-portrait"
                        [src]="'../../../../assets/images/legend-portraits/' + getLegendImageName(legendWeight.legendId)"
                        alt=""
                    />
                </div>

                <h3 class="weight-score">{{ legendWeight.weightScore | percent }}</h3>
            </div>
        </ng-container>
    </div>
</div>
