@import "hud-styles";
$skewX: -30deg;

.legend-icon-row {
    display: flex;
    position: absolute;
    height: 165px;
    transform: skewX($skewX);
    align-content: flex-start;
    justify-content: flex-end;
}

.legend-icon-hitbox {
    max-width: 152px;
    width: 152px;
    margin-left: 4px;
    margin-right: 4px;
    /** Used to capture mouse hover events, without blocking click events */
    border: 10px solid #cc22001a;
}
