@import "hud-styles";

.complimentary-legends-container {
    position: absolute;
    right: 27.43vw;
    top: 64.236vh;
    height: 13.888vh;
    width: 55.555vw;
}

.complimentary-legends-title {
    font-size: 1.944vw;
    font-weight: bold;
    color: white;
    font-family: "Quantico", sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 0;
}

.legend-portraits-container {
    display: flex;
    width: 34.722vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
}

.legend-group {
    text-align: center;
}

.weight-score {
    font-size: 1.944vw;
    color: white;
    font-family: "Quantico", sans-serif;
}

.selected-border {
    padding: 0.3472vw;
    // border: 0.3472vw solid white;
}

.suggested-border {
    &:first-of-type {
        border-left: 0.3472vw solid white;
    }

    &:last-of-type {
        border-right: 0.3472vw solid white;
    }
}

.legend-portrait {
    width: 6.944vw;
    height: 6.944vh;
}
