<h3>Report New Player</h3>
<div class="row my-3">
    <div class="col">
        <form [formGroup]="reportPlayerForm" (submit)="onReportPlayerFormSubmit()">
            Username: <input class="form-control" type="text" formControlName="inGameUsername" /><br />
            Roster Hash: <a href (click)="reportPlayerForm.get('rosterHash')?.setValue(randomString(32))">New Hash</a
            ><input class="form-control" type="text" formControlName="rosterHash" /><br />

            Report Reason:
            <select class="form-select" formControlName="reportReason">
                <option *ngFor="let reportReason of reportReasonOpts" [ngValue]="reportReason[1]">
                    {{ reportReason[0] }}
                </option></select
            ><br />

            <div class="form-check form-switch form-check-inline">
                <input class="form-check-input" type="checkbox" id="localReportSwitch" formControlName="isLocalReportOnly" />
                <label class="form-check-label" for="localReportSwitch">Local Report Only</label>
            </div>

            <button class="btn btn-primary" type="submit">Report</button>
        </form>
    </div>
</div>
<div class="row" *ngIf="newReportedPlayerId">
    <div class="col">Reported Player Id: {{ newReportedPlayerId }}</div>
</div>
