/** Quantico */
@font-face {
    font-family: "Quantico";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Quantico-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Quantico";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/Quantico-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Quantico";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Quantico-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Quantico";
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/Quantico-BoldItalic.ttf") format("truetype");
}

/** Play */
@font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Play-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Play-Bold.ttf") format("truetype");
}

/** Lexend */
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/Lexend-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/Lexend-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Lexend-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Lexend-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Lexend-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Lexend-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/Lexend-ExtraBold.ttf") format("truetype");
}

/** Red Hat Display */
@font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/RedHatDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/RedHatDisplay-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/RedHatDisplay-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: italic;
    font-weight: 500;
    src: url("/assets/fonts/RedHatDisplay-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/RedHatDisplay-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/RedHatDisplay-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/RedHatDisplay-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Red Hat Display";
    font-style: italic;
    font-weight: 900;
    src: url("/assets/fonts/RedHatDisplay-BlackItalic.ttf") format("truetype");
}

/** Roboto */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("/assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("/assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}
