h1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

.log-container {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    overflow: hidden;
    word-wrap: break-word;
}

.log {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75rem;
    user-select: none;
}
