<div class="container-lg mt-3">
    <div class="row">
        <div class="col pe-4">
            <app-legend-icons-board
                *ngIf="legendIdsRows$ | async as legendIdsRows"
                [legendIconRows]="legendIdsRows"
                (onLegendHover)="hoverLegend($event)"
                (onLegendUnhover)="unhoverLegend()"
            ></app-legend-icons-board>

            <div class="card px-3 py-1 mt-4">
                <app-map-rotation-display></app-map-rotation-display>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>
                        <span *ngIf="playerName">{{ playerName }}</span>
                        <span *ngIf="getLegendName(focusedLegendId); let legendName"> - {{ legendName | uppercase }}</span>
                    </h2>
                </div>
            </div>

            <!-- #region Your Battle Royale Stats / Legend Stats -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">
                                <!-- BATTLE ROYALE STATS -->
                                STATS ({{
                                    (focusedLegendId ? legendBattleRoyaleStats?.numMatches : playerBattleRoyaleStats?.numMatches) ?? 0
                                        | number: "1.0":"en-US"
                                }}
                                {{
                                    (focusedLegendId ? legendBattleRoyaleStats?.numMatches : playerBattleRoyaleStats?.numMatches) == 1
                                        ? "match"
                                        : "matches"
                                }})
                            </h6>
                        </div>
                        <div class="card-content">
                            <div
                                class="row"
                                *ngIf="(focusedLegendId ? legendBattleRoyaleStats : playerBattleRoyaleStats) ?? emptyStats; let stats"
                            >
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgWins ?? 0) >= 0 && (stats?.avgWins ?? 0) < 1 ? stats.avgWins : 0) | percent }}
                                    </h1>
                                    <h5 class="stat-title">Win Rate</h5>
                                </div>
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{
                                            ((stats?.avgEliminations ?? 0) >= 0 && (stats?.avgEliminations ?? 0) <= 100
                                                ? stats.avgEliminations
                                                : 0
                                            ) | number: "1.2-2"
                                        }}
                                    </h1>
                                    <h5 class="stat-title">Kill Rate</h5>
                                </div>
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{
                                            ((stats?.avgKnockdowns ?? 0) >= 0 && (stats?.avgKnockdowns ?? 0) <= 100
                                                ? stats.avgKnockdowns
                                                : 0
                                            ) | number: "1.2-2"
                                        }}
                                    </h1>
                                    <h5 class="stat-title">Knockdown Rate</h5>
                                </div>
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{
                                            ((stats?.avgDamage ?? 0) >= 0 && (stats?.avgDamage ?? 0) <= 50000 ? stats.avgDamage : 0)
                                                | number: "1.0-0"
                                        }}
                                    </h1>
                                    <h5 class="stat-title">Avg Damage</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Your Arenas Stats / Legend Stats -->
            <!-- <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">
                                ARENAS STATS ({{ ((focusedLegendId ? legendArenasStats?.numMatches : playerArenasStats?.numMatches) ?? 0) | number:'1.0':'en-US' }}
                                {{
                                    (focusedLegendId ? legendArenasStats?.numMatches : playerArenasStats?.numMatches) == 1
                                    ? "match"
                                    : "matches"
                                }})
                            </h6>
                        </div>
                        <div class="card-content">
                            <div class="row" *ngIf="(focusedLegendId ? legendArenasStats : playerArenasStats) ?? emptyStats; let stats">
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgWins ?? 0) >= 0 && (stats?.avgWins ?? 0) < 1 ? stats.avgWins : 0) | percent }}
                                    </h1>
                                    <h5 class="stat-title">Win Rate</h5>
                                </div>
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgEliminations ?? 0) >= 0 && (stats?.avgEliminations ?? 0) <= 100 ? stats.avgEliminations : 0) | number: "1.2-2" }}
                                    </h1>
                                    <h5 class="stat-title">Kill Rate</h5>
                                </div>
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgKnockdowns ?? 0) >= 0 && (stats?.avgKnockdowns ?? 0) <= 100 ? stats.avgKnockdowns : 0) | number: "1.2-2" }}
                                    </h1>
                                    <h5 class="stat-title">Knockdown Rate</h5>
                                </div>
                                <div class="col-3 stat-group">
                                    <h1 class="stat-digit">
                                        {{ ((stats?.avgDamage ?? 0) >= 0 && (stats?.avgDamage ?? 0) <= 50000 ? stats.avgDamage : 0) | number: "1.0-0" }}
                                    </h1>
                                    <h5 class="stat-title">Avg Damage</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- #endregion -->

            <!-- #region Suggestions -->
            <div class="row">
                <div class="col-6 pe-0">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">SUGGESTED SQUAD</h6>
                        </div>
                        <div class="card-content">
                            <ng-container *ngIf="focusedLegendId">
                                <ng-container
                                    *ngIf="
                                        (legendBattleRoyaleStats?.numMatches ?? 0) >= ((minShowComplimentaryLegendsMatches$ | async) ?? 0)
                                    "
                                >
                                    <app-complimentary-legends
                                        class="complimentary-legends"
                                        *ngIf="legendComplimentaryLegendWeights; let legendWeights"
                                        [complimentaryLegendWeights]="legendWeights"
                                    ></app-complimentary-legends>
                                </ng-container>
                                <div
                                    class="my-1 p-2 text-center small"
                                    *ngIf="
                                        (legendBattleRoyaleStats?.numMatches ?? 0) < ((minShowComplimentaryLegendsMatches$ | async) ?? 0)
                                    "
                                >
                                    Play
                                    {{ ((minShowComplimentaryLegendsMatches$ | async) ?? 0) - (legendBattleRoyaleStats?.numMatches ?? 0) }}
                                    more matches with {{ getLegendName(focusedLegendId) | titlecase }} to see suggested squad.
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!focusedLegendId">
                                <app-complimentary-legends
                                    class="complimentary-legends"
                                    *ngIf="
                                        focusedLegendId ? legendComplimentaryLegendWeights : playerComplimentaryLegendWeights;
                                        let legendWeights
                                    "
                                    [complimentaryLegendWeights]="legendWeights"
                                ></app-complimentary-legends>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-6 ps-0">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">SUGGESTED WEAPONS</h6>
                        </div>
                        <div class="card-content">
                            <app-complimentary-weapons
                                class="complimentary-weapons"
                                *ngIf="
                                    focusedLegendId ? legendComplimentaryWeaponAvgEliminations : playerComplimentaryWeaponAvgEliminations;
                                    let weaponAvgEliminations
                                "
                                [complimentaryWeaponsAvgEliminations]="weaponAvgEliminations"
                            ></app-complimentary-weapons>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->

            <div class="card mt-4">
                <app-account-stats-display></app-account-stats-display>
            </div>
        </div>
    </div>
</div>
