<ng-container *ngIf="uiWindowInfo | async as winInfo">
    <ng-container [ngSwitch]="winInfo.name">
        <app-background *ngSwitchCase="WindowName.Background"></app-background>

        <app-development-tools-window *ngSwitchCase="WindowName.DevelopmentTools"></app-development-tools-window>
        <app-main-window *ngSwitchCase="WindowName.Main"></app-main-window>
        <app-hud-death-window *ngSwitchCase="WindowName.HUDDeath"></app-hud-death-window>
        <app-hud-notification-window *ngSwitchCase="WindowName.HUDNotification"></app-hud-notification-window>

        <div *ngSwitchDefault>Could not match window with name: {{ winInfo.name }}</div>
    </ng-container>
</ng-container>
