<ng-container *ngIf="windowInfo | async as windowName">
    <ng-container [ngSwitch]="windowName">
        <app-background *ngSwitchCase="'background'"></app-background>
        <app-dashboard-window
            *ngSwitchCase="'dashboard'"
        ></app-dashboard-window>
        <app-in-game-test-window
            *ngSwitchCase="'in-game-test'"
        ></app-in-game-test-window>

        <!-- <app-settings-window *ngSwitchCase="'settings'"></app-settings-window>
        <app-notification-window *ngSwitchCase="'notification'"></app-notification-window>
        <app-market-window *ngSwitchCase="'market'"></app-market-window>
        <app-replay-window *ngSwitchCase="'replay'"></app-replay-window>
        <app-launcher-window *ngSwitchCase="'launcher'"></app-launcher-window>
        <app-annotation-window *ngSwitchCase="'annotation'"></app-annotation-window>
        <app-trade-window *ngSwitchCase="'trade'"></app-trade-window>
        <app-trade-highlight-window *ngSwitchCase="'tradehighlight'"></app-trade-highlight-window> -->
        <div *ngSwitchDefault>
            Could not match window with name: {{ windowName }}
        </div>
    </ng-container>
</ng-container>
