<div
    class="badge-container"
    *ngIf="badge"
    [ngClass]="{
        'victim-teammate': badge.isVictimTeammate,
        knocked: badge.latestInflictionAccum?.isKnocked,
        'eliminated beacon-timed-out': badge.latestInflictionAccum?.isEliminated
    }"
>
    <div class="badge">
        <div class="damage">
            <div class="damage-header">Your Damage</div>
            <div class="damage-sum">
                {{ (badge.latestInflictionAccum?.shieldDamageSum || 0) + (badge.latestInflictionAccum?.healthDamageSum || 0) }}
            </div>
            <div class="damage-footer">Total</div>
        </div>
        <div class="player-ui">
            <div class="player-name">{{ badge.rosterPlayer.name }}</div>
            <div class="player-shield-container">
                <ng-container *ngFor="let shieldNum of [0, 1, 2, 3, 4]">
                    <div class="player-shield-ui-box-shadow" *ngIf="badge.maybeShieldMax / 25 > shieldNum">
                        <div
                            class="player-shield-ui-box"
                            *ngIf="
                                !badge.latestInflictionAccum?.isKnocked &&
                                !badge.latestInflictionAccum?.isEliminated &&
                                badge.maybeShieldAmount > shieldNum * 25
                            "
                            [style.width.%]="
                                badge.maybeShieldAmount < 25 * (shieldNum + 1) ? ((badge.maybeShieldAmount % 25) / 25) * 100 : 100
                            "
                        ></div>
                    </div>
                </ng-container>
            </div>
            <div class="player-health-container">
                <div class="player-health-ui-box-shadow">
                    <div
                        class="player-health-ui-box"
                        *ngIf="!badge.latestInflictionAccum?.isKnocked && !badge.latestInflictionAccum?.isEliminated"
                        [style.width.%]="badge.maybeHealthAmount"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
