@import "in-game-styles";
$titlebar-height: 3rem;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .titlebar {
        flex: 0 0;
    }

    .body {
        flex: 1 0;

        &.desktop-window {
            // ...
        }
    }
}

.titlebar {
    display: flex;
    background: darkblue;
    height: $titlebar-height;
    min-height: $titlebar-height;
    align-items: center;

    &-icon {
        flex: 0 0;
    }

    &-primary-title,
    &-secondary-title {
        font-family: "Play", sans-serif;
        flex: 1 0;
        padding: 0 1rem;
        color: white;
    }

    &-controls {
        padding: 0 1rem;
        flex: 0 0;
    }
}

.primary-title {
}

.secondary-title {
}

.body {
}
