<ng-container *ngIf="injectBootstrapCSS">
    <app-bootstrap-css-injector></app-bootstrap-css-injector>
</ng-container>

<section class="titlebar" *ngIf="isDesktopWindow" (mousedown)="onTitlebarMouseDown($event)">
    <div class="titlebar-icon"></div>

    <div class="titlebar-primary-title">
        <span class="primary-title" [innerText]="primaryTitle"></span>
    </div>

    <div class="titlebar-secondary-title">
        <span class="secondary-title" [innerText]="secondaryTitle"></span>
    </div>

    <div class="titlebar-controls">
        <button class="control-button" type="button" (click)="onCloseButtonClick()">&times;</button>
    </div>
</section>

<section class="body" [ngClass]="{ 'desktop-window': isDesktopWindow }" (mousedown)="onContentMouseDown($event)">
    <ng-content></ng-content>
</section>
