@import "./../../../../shared/assets/styles/reset";

/**
 * Appears on all user-interfaces
 */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

/** Override text selection */
* {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}