@import "hud-styles";
$titlebar-height: 2.5rem;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .titlebar {
        flex: 0 0;
    }

    .body {
        flex: 1 0;

        &.desktop-window {
            // ...
        }
    }
}

.titlebar {
    display: flex;
    background: var(--bs-primary);
    height: $titlebar-height;
    min-height: $titlebar-height;
    align-items: center;

    &-developer {
        background: var(--bs-warning);
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        flex: 0 0;
        height: 100%;
        padding: 0.5rem 1rem 0.5rem 1.5rem;

        img {
            height: 100%;
        }
    }

    &-primary-title,
    &-secondary-title {
        font-family: "Red Hat Display", sans-serif;
        font-weight: 500;
        flex: 1 0;
        color: white;
    }

    &-feature-status {
        flex: 2 0;
        text-align: right;
    }

    &-controls {
        padding: 0 0.5rem;
        flex: 1 0;
        text-align: right;

        .btn:hover {
            background-color: #0000001a;
        }
    }
}

.primary-title {
}

.secondary-title {
}

.body {
}
