<!-- #region Warning Modal -->
<!-- TODO: Move Modal to main window -->
<div class="modal fade" tabindex="-1" #controllerWarningModal>
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-danger">Warning:</h2>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Raw Apex Games</strong> are created for the <em>raw</em> input of <u>keyboard and mouse</u> players only. Other
                    inputs other than mouse or keyboard are not allowed in these custom lobbies; please switch to keyboard and mouse before
                    continuing to play.
                </p>
                <p>
                    Further use of devices other than a keyboard and mouse will result in a temporary suspension or permanent ban from
                    <strong>Raw Apex Games</strong>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Acknowledge</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

<div class="in-game-container p-4">
    <img class="raw-logo" src="../../../../assets/images/raw-logo-white.png" alt="Raw Apex Games Logo" />

    <div>PlayerName: {{ myName }}</div>
    <div>OriginId: {{ myOriginId }}</div>
    <div>Organizer: {{ lobby?.organizerPlayerName }}</div>
    <button (click)="onCreateLobbyClick()">Create Lobby</button>
    <button (click)="onLoadLobbiesClick()">Load Lobbies</button>
    <button (click)="onTempControllerClick()">I'm on Controller</button>
    <div>
        <app-lobby-code
            *ngIf="lobby"
            [lobbyCode]="lobby.lobbyCode"
            (lobbyCodeChange)="onLobbyCodeChange($event)"
            [isEditable]="isOrganizer"
        ></app-lobby-code>
    </div>
</div>
