@import "window-styles";

$hud-button-size: 100px; // TODO: Remove

.raw-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.in-game-container {
    height: 100%;
    width: 100%;
}

