<table class="table table-striped table-borderless table-dark mb-0" [ngClass]="{ 'table-hover': isMatchClickable }" *ngIf="matches?.length">
    <tbody>
        <ng-container *ngFor="let match of matches.slice(0, numDisplayMatches); index as i; trackBy: matchTrackBy">
            <span [hidden]="true">{{ match?.matchId }}</span>
            <tr
                *ngIf="match && match.matchId"
                [ngClass]="{
                    clickable: isMatchClickable,
                    'table-primary': isRecent(match.endDate) || (!!selectedMatchId && match.matchId === selectedMatchId),
                    'table-danger ': isLiveMatch,
                    'table-active': isLiveMatch || isRecent(match.endDate) || (!!selectedMatchId && match.matchId === selectedMatchId)
                }"
                (click)="onMatchClick(match)"
            >
                <td class="align-middle col-first">
                    <div class="fw-bold" *ngIf="showDataItems.includes(DataItem.GameMode)">
                        {{ match.gameModeId ? (getGameModeTypeName(match.gameModeId) | uppercase) : "N/A" }}
                    </div>
                    <div
                        class="small"
                        *ngIf="showDataItems.includes(DataItem.Map) && match.mapId && getMatchMapName(match.mapId); let matchMapName"
                    >
                        <ng-container *ngIf="matchMapName">{{ matchMapName }}</ng-container>
                        <ng-container *ngIf="!matchMapName"><em>Map Unknown</em></ng-container>
                    </div>
                </td>
                <td class="py-2 pt-3 text-nowrap">
                    <div class="legend-portraits-container" *ngIf="showDataItems.includes(DataItem.SquadLegends)">
                        <img
                            *ngFor="let teammate of buildTeamRoster(match)"
                            class="legend-portrait teammate-legend-portrait mx-1"
                            [ngClass]="{
                                'my-legend-portrait': teammate.isMe,
                                'teammate-legend-portrait': !teammate.isMe,
                                clickable: isTeamRosterPlayerClickable
                            }"
                            [src]="'../../../assets/images/legend-portraits/medium/' + getLegendImageName(teammate.legendId)"
                            [title]="teammate.name"
                            [alt]="teammate.name + ' playing ' + (getLegendName(teammate.legendId) ?? 'N/A')"
                            (click)="onTeamRosterClick(teammate)"
                        />
                    </div>
                    <div class="match-details-container">
                        <ng-container *ngIf="showDataItems.includes(DataItem.MatchDate)">
                            <span class="small strong text-muted in-progress-pulse" *ngIf="!match.endDate && isLiveMatch">In Progress</span>
                            <small
                                class="text-muted"
                                *ngIf="match.endDate && isFunction(match.endDate) && match.endDate.getTime() > now - 60 * 1000"
                                >Just now</small
                            >
                            <small
                                class="text-muted"
                                *ngIf="
                                    match.endDate &&
                                    isFunction(match.endDate) &&
                                    match.endDate.getTime() < now - 60 * 1000 &&
                                    match.endDate.getTime() > now - relativeTime
                                "
                            >
                                <!-- {{
                                    durationSinceNow(match.endDate)
                                        | dfnsFormatDurationPure: { format: ["years", "months", "weeks", "days", "hours", "minutes"] }
                                }}-->
                                <!-- Removed ngx-date-fns -->
                                ago
                            </small>
                            <small
                                class="text-muted"
                                *ngIf="!match.endDate || !isFunction(match.endDate) || match.endDate.getTime() < now - relativeTime"
                            >
                                <!-- {{ match.endDate | dfnsFormatRelative: now }} -->
                                <!-- Removed ngx-date-fns -->
                            </small>
                        </ng-container>
                    </div>
                </td>
                <td class="align-middle" *ngIf="showDataItems.includes(DataItem.Rank)"></td>
                <td class="align-middle text-center">
                    <div *ngIf="showDataItems.includes(DataItem.Placement) && !match.placement && !match.maxPlacement">N/A</div>

                    <h3
                        class="data-digit-primary mb-0"
                        *ngIf="showDataItems.includes(DataItem.Placement) && (match.placement || match.maxPlacement)"
                    >
                        {{ match.placement ?? "-" }}
                        <sub class="max-placement-sign text-muted" *ngIf="match.maxPlacement">/</sub>
                        <sub class="max-placement-digit text-muted" *ngIf="match.maxPlacement">{{ match.maxPlacement }}</sub>
                    </h3>
                    <small class="text-muted">placement</small>
                </td>
                <td class="align-middle text-center" *ngIf="showDataItems.includes(DataItem.Eliminations)">
                    <h3 class="data-digit mb-1">{{ match.eliminations ?? 0 }}</h3>
                    <small class="text-muted">kills</small>
                </td>
                <td class="align-middle text-center" *ngIf="showDataItems.includes(DataItem.Knockdowns)">
                    <h3 class="data-digit mb-1">{{ match.knockdowns ?? 0 }}</h3>
                    <small class="text-muted">knockdowns</small>
                </td>
                <td class="align-middle text-center" *ngIf="showDataItems.includes(DataItem.Assists)">
                    <h3 class="data-digit mb-1">{{ match.assists ?? 0 }}</h3>
                    <small class="text-muted">assists</small>
                </td>
                <td class="align-middle text-center" *ngIf="showDataItems.includes(DataItem.Damage)">
                    <h3 class="data-digit mb-1">{{ match.damage ?? 0 }}</h3>
                    <small class="text-muted">damage</small>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
