<h5>Game Data</h5>
<section class="accordion">
    <!-- #region Game -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gameAccordion">Game</button>
        </h2>
        <div id="gameAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangeGameProcessIsRunningClick()">IsRunning</a></div>
                    <div class="col-6 text-end">{{ gameProcess.isRunning$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangeGameProcessIsInFocusClick()">IsInFocus</a></div>
                    <div class="col-6 text-end">{{ gameProcess.isInFocus$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">
                        <a class="link-primary" (click)="onChangeGamePhaseClick()">GamePhase</a>
                    </div>
                    <div class="col-6 text-end">{{ game.phase$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-8">Overwolf GEP</div>
                    <div class="col-4 text-end"><a class="link-primary" (click)="reloadOWGEPStatus()">(Reload)</a></div>
                    <div class="col-12 text-end">
                        <ng-container *ngIf="featureStatus === 0">Unsupported</ng-container>
                        <ng-container *ngIf="featureStatus === 1">Good</ng-container>
                        <ng-container *ngIf="featureStatus === 2">Partial</ng-container>
                        <ng-container *ngIf="featureStatus === 3">Unavailable</ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Match -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#matchAccordion">Match</button>
        </h2>
        <div id="matchAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangeMatchStateClick()">State</a></div>
                    <div class="col-6 text-end">{{ (match.state$ | async)?.state }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">GameModeId</div>
                    <div class="col-6 text-end">{{ (match.gameMode$ | async)?.gameModeId }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">MatchDuration</div>
                    <div class="col-6 text-end">{{ matchDuration | date: "mm:ss" }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Player -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#playerAccordion">Player</button>
        </h2>
        <div id="playerAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6">PlayerName</div>
                    <div class="col-6 text-end">{{ player.myName$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-6"><a class="link-primary" (click)="onChangePlayerStateClick()">PlayerState</a></div>
                    <div class="col-6 text-end">{{ matchPlayer.myState$ | async }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Match Roster -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#matchRosterAccordion">
                Match Roster
            </button>
        </h2>
        <div id="matchRosterAccordion" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-7">Tabs Teams</div>
                    <div class="col-5 text-end">{{ matchRoster.numTeams$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-7">Tabs Players</div>
                    <div class="col-5 text-end">{{ matchRoster.numPlayers$ | async }}</div>
                </div>
                <div class="row" appHighlightOnChange [highlightColor]="changedHighlightColor">
                    <div class="col-7">Players Loaded</div>
                    <div class="col-5 text-end">{{ (matchRoster.matchRoster$ | async)?.allPlayers?.length }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</section>
