<app-ui-container [isDesktopWindow]="false" [isContentDraggable]="true" primaryTitle="In Game Damage Collector">
    <div class="damage-collector-container">
        <div *ngFor="let damageAction of damageActions">
            victim.name: {{ damageAction.victim.name }}<br />
            shieldDamage: {{ damageAction.shieldDamage }}<br />
            healthDamage: {{ damageAction.healthDamage }}<br />
            isKnocked: {{ damageAction.isKnocked }}<br />
            isEliminated: {{ damageAction.isEliminated }}<br /><br />
        </div>
    </div>
</app-ui-container>
