<app-ui-container [isDesktopWindow]="false" [isContentDraggable]="true" primaryTitle="In Game Damage Collector">
    <div class="damage-collector-container">
        <div *ngFor="let damageEvent of damageEvents$ | async; index as i">
            victim.name: {{ damageEvent.name }}<br />
            shieldDamage: {{ damageEvent.shieldDamageSum }}<br />
            healthDamage: {{ damageEvent.healthDamageSum }}<br />
            totalDamage: {{ damageEvent.damageSum }}<br />
            isKnocked: {{ damageEvent.isKnocked }}<br />
            isEliminated: {{ damageEvent.isEliminated }}<br /><br />
        </div>
    </div>
</app-ui-container>
