<app-ui-container
    [isDesktopWindow]="false"
    [isContentDraggable]="false"
    primaryTitle="Reticle Helper"
    [position]="{ xPercent: 0, yPercent: 0, xAnchor: 'center', yAnchor: 'middle' }"
    [size]="{ widthPercent: 0.1, heightPercent: 0.25 }"
>
    <div class="reticle-helper-container">
        <div class="aiming-reticle-container" [hidden]="isAimingReticleHidden">
            <app-aiming-reticle [aimingReticle]="aimingReticle"></app-aiming-reticle>
        </div>
    </div>
</app-ui-container>
