<ul class="nav m-3">
    <li class="nav-item me-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedMap?.mapName ?? "Select a map" }}
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let map of mapList">
                    <button class="dropdown-item" type="button" (click)="onSelectMapIdClick(map.mapId)">{{ map.mapName }}</button>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item me-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ heatmapDisplayType }}
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let displayType of heatmapDisplayTypeList">
                    <button class="dropdown-item" type="button" (click)="heatmapDisplayType = displayType">{{ displayType }}</button>
                </li>
            </ul>
        </div>
    </li>
</ul>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-xl-auto" appFullHeight [marginBottom]="25">
            <app-map-heatmap
                [map]="selectedMap"
                [primaryCoordinates]="primaryCoordinates"
                [secondaryCoordinates]="secondaryCoordinates"
            ></app-map-heatmap>
        </div>
        <div class="col-8 col-lg-6 col-md-7 col-xl-5 col-xxl-5" appFullHeight [marginBottom]="25">
            <!-- Aggregate Option -->
            <table class="table table-dark table-hover mb-0" *ngIf="selectedMap">
                <tbody>
                    <tr
                        (click)="onSelectMapIdClick(selectedMap.mapId)"
                        class="clickable"
                        [ngClass]="{ 'table-active table-primary': selectedMapMatchList && !selectedMatch }"
                    >
                        <td>
                            {{ selectedMapMatchList.length }} {{ selectedMapMatchList.length == 1 ? "Match" : "Matches" }} on
                            <strong>{{ selectedMap.mapName }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Match List -->
            <div class="matches-container" appFullHeight [marginBottom]="25" (scroll)="onMatchListingScroll($event)">
                <app-match-listing
                    [matches]="selectedMapMatchList"
                    [isMatchClickable]="true"
                    [selectedMatchId]="selectedMatch?.matchId"
                    (matchClick)="onSelectMatchIdClick($event.matchId)"
                    [showDataItems]="showMatchItems"
                    [numDisplayMatches]="numDisplayMatches"
                ></app-match-listing>
            </div>
        </div>
    </div>
</div>
