<ng-container *ngIf="uiWindowInfo | async as winInfo">
    <ng-container [ngSwitch]="winInfo.name">
        <app-background *ngSwitchCase="WindowName.Background"></app-background>

        <app-development-tools-window *ngSwitchCase="WindowName.DevelopmentTools"></app-development-tools-window>
        <app-main-window *ngSwitchCase="WindowName.Main"></app-main-window>
        <app-hud-infliction-insight-window *ngSwitchCase="WindowName.HUDInflictionInsight"></app-hud-infliction-insight-window>
        <app-hud-healing-helper-window *ngSwitchCase="WindowName.HUDHealingHelper"></app-hud-healing-helper-window>
        <app-hud-match-timer-window *ngSwitchCase="WindowName.HUDMatchTimer"></app-hud-match-timer-window>
        <app-hud-mini-inventory-window *ngSwitchCase="WindowName.HUDMiniInventory"></app-hud-mini-inventory-window>
        <app-hud-ult-timer-window *ngSwitchCase="WindowName.HUDUltTimer"></app-hud-ult-timer-window>
        <app-legend-select-assist-window *ngSwitchCase="WindowName.LegendSelectAssist"></app-legend-select-assist-window>
        <app-hud-reticle-helper-window *ngSwitchCase="WindowName.HUDReticleHelper"></app-hud-reticle-helper-window>

        <div *ngSwitchDefault>Could not match window with name: {{ winInfo.name }}</div>
    </ng-container>
</ng-container>
