<ng-container *ngIf="uiWindowInfo | async as winInfo">
    <ng-container [ngSwitch]="winInfo.name">
        <app-background *ngSwitchCase="WindowName.Background"></app-background>

        <app-development-tools-window *ngSwitchCase="WindowName.DevelopmentTools"></app-development-tools-window>
        <app-main-window *ngSwitchCase="WindowName.Main"></app-main-window>
        <app-in-game-match-timer-window *ngSwitchCase="WindowName.InGameMatchTimer"></app-in-game-match-timer-window>
        <app-in-game-ult-timer-window *ngSwitchCase="WindowName.InGameUltTimer"></app-in-game-ult-timer-window>
        <app-in-game-infliction-insight-window *ngSwitchCase="WindowName.InGameInflictionInsight"></app-in-game-infliction-insight-window>
        <app-legend-select-assist-window *ngSwitchCase="WindowName.LegendSelectAssist"></app-legend-select-assist-window>

        <div *ngSwitchDefault>Could not match window with name: {{ winInfo.name }}</div>
    </ng-container>
</ng-container>
