.lobby-code-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

input.lobby-code {
    font-family: monospace;
    font-weight: bolder;
    font-size: 7.5vw;
    letter-spacing: 1vw;
    text-align: center;
    &:disabled {
        pointer-events: none;
    }

}