<div class="row">
    <div class="col text-center" *ngFor="let playlistItem of playlistItems">
        <button
            type="button"
            class="btn btn-primary playlist-button {{ playlistItem.playlist }}"
            [ngClass]="{
                selected: playlistItem.playlist === selectedPlaylist,
                selectable: isPlaylistSelectable(playlistItem),
            }"
            (click)="onPlaylistChange(playlistItem.playlist)"
            [disabled]="isPlaylistDisabled(playlistItem)"
        >
            <h6 class="playlist-button-subtitle">{{ getSubTitle(playlistItem) }}</h6>
            <h1 class="playlist-button-title">{{ playlistItem.friendlyName }}</h1>
        </button>
    </div>
</div>
