<app-ui-container
    [overwolfWindowName]="OverwolfWindowName.InGame"
    [isDesktopWindow]="false"
    [isContentDraggable]="true"
    primaryTitle="InGame"
    [position]="{ xPercent: 0, yPercent: -0.125, xAnchor: 'right', yAnchor: 'bottom' }"
    [size]="{ widthPercent: 0.25, heightPercent: 0.75 }"
>
    <div class="in-game-container">
        <h1 style="color: white; font-size: 25px; font-weight: bold">InGame window</h1>
        <div class="controller-detected" *ngIf="isControllerDetected">CONTROLLER DETECTED</div>
        <button (click)="onCreateLobbyClick()">Create Lobby</button>
        <button (click)="onLoadLobbiesClick()">Load Lobbies</button>
        <div>
            <ul>
                <li *ngFor="let lobby of lobbies">
                    {{ lobby.joinCode }}
                </li>
            </ul>
        </div>
    </div>
</app-ui-container>
