@import "hud-styles";

.in-game-container {
    height: 100%;
    width: 100%;
    color: white;
}

// TODO: REMOVE
.controller-detected {
    width: 100%;
    padding: 50px;
    background-color: red;
}