.log-container {
    overflow: hidden;
}

.log-area {
    font-size: 0.875rem;
    line-height: 0.875rem;
    height: 2rem;
    cursor: text;
    font-family: monospace;
    user-select: text;
    overflow: hidden;
    white-space: nowrap;
}
