@import "hud-styles";
@import "./../../../../../../shared/assets/styles/bootstrap/theme-variables";

::ng-deep body {
    background-color: transparent !important;
}

.match-summary-container {
    height: 100%;
    width: 100%;
    background: rgba($body-bg, 0.99);
}

.logo {
    width: 200px;
    margin-top: 10px;
}

.card-title {
    margin: 0;
}

.placement-sign {
    font-weight: 100;
    color: $gray-600;
}

sub.max-placement {
    &-sign {
        font-weight: lighter;
        bottom: -0.075em;
        left: -0.2rem;
    }

    &-digit {
        font-size: 50%;
    }
}

.data-digit {
    font-weight: normal;

    &-primary {
        font-weight: bold;
    }
}

.video-ad {
    height: 250px;
    width: 300px;
    max-height: 250px;
    max-width: 300px;
    background-color: red
}