<!-- #region Basic Modal -->
<div class="modal fade" tabindex="-1" #basicModal>
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header" *ngIf="basicModal.title.length">
                <h5 class="modal-title">{{ basicModal.title }}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ basicModalData.message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    {{ basicModalData.closeBtnText }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

<div *ngIf="isLoadingLobby">
    <h1 class="text-center">Loading Lobby...</h1>
</div>
<div *ngIf="!isLoadingLobby">
    <h2>{{ myExistingLobby ? "Updating" : "Creating" }} {{ myName ? myName + "'s" : "Your" }} Lobby</h2>
    <div class="row">
        <div class="col">
            <app-playlist-selector
                [playlistItems]="playlistItems"
                [selectedPlaylist]="selectedPlaylist"
                (selectedPlaylistChange)="selectedPlaylist = $event"
            ></app-playlist-selector>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-lobby-code [(lobbyCode)]="lobbyCode" [isEditable]="true"></app-lobby-code>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h5>Start Date</h5>
            <input
                type="datetime-local"
                class="form-control"
                [min]="inputDateTime(now)"
                [ngModel]="inputDateTime(startDate)"
                (ngModelChange)="startDate = $event"
            />
        </div>
        <div class="col">
            <h5>End Date</h5>
            <input
                type="datetime-local"
                class="form-control"
                [min]="inputDateTime(startDate)"
                [ngModel]="inputDateTime(endDate)"
                (ngModelChange)="endDate = $event"
            />
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <button type="button" class="mt-4 btn btn-success" (click)="onCreateLobbyClick()" [disabled]="!canCreate || isCreating">
                {{ isCreating ? "Creating Lobby..." : "Create Lobby" }}
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="mt-4 btn btn-info" (click)="onUpdateLobbyClick()" [disabled]="!canUpdate || isUpdating">
                Update Lobby
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="mt-4 btn btn-danger" (click)="onDeleteLobbyClick()" [disabled]="!canDelete || isDeleting">
                End Lobby
            </button>
        </div>
    </div>
</div>
